*{
   margin: 0;
   padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
   margin: 0 !important;
}

.btn_hov:hover{
   background-color: #C6CDBB !important;
   color: white !important;
   border: 1px solid white;
}

body{
   background-color: #FCF9F7 !important;
}

em {
   color: white !important;
}

nav{
   background-color: white !important;
}

/*========================== Navbar ==========================*/
.menu{
 position: absolute;
 top: 0;
 height: 100%;
 display: flex;
 align-items: center;
 padding-left: 40px;
 box-sizing: border-box;
}

.nav{
   margin-top: 24px !important;
}

.nav_btn{
   margin: auto;
}

.menu2 ul{
  margin: auto;
  display: flex !important;
  align-items: center;
  gap: 80px;
}



.menu ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.menu ul li a {
	font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #2B1105;
    display: block;
    transition: 0.3s;
}
.menu ul li a:hover{
   color: #C6754D !important;
   background-color: #a6a6a65e !important;
   text-decoration: none;
   padding: 10px;
   border-radius: 10px;
}

/*========================== Header ==========================*/
.header{
	position: relative;
	display: ;
}

.header img {
	width: 100%;
	height: 100%;
}

.header_title_block{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 54px;
}

.header_title_block h1{
  font-family: 'Montaga', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 101px;
  line-height: 100%;
  text-align: center;
  color: #FCF9F7;
  text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.45);
}

.month{
	display: flex;
	gap: 16px;
	padding-top: 32px;
}

.month p{
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   color: #FCF9F7;
}


/*========================== Main ==========================*/
/*========= Section 1 =========*/
.our_story{
	padding-top: 92px;
	padding-bottom: 120px;
	padding-left: 217px;
	padding-right: 217px;
}

.our_story h5 {
	font-family: 'Montaga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 100%; 
    text-align: center;
    color: #2B1105; 
    padding-bottom: 64px;
}
.sec1_text_block {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.sec1_text_block{
	padding: 0 103px;
}

.sec1_img_block{
	margin-top: 117px;
}

.sec1_img_block {
	width: 100%;
}

.sec1_img_block img {
	width: 100%;
}

/*========= Section 2 =========*/
.section2{
	padding: 96px 116px;
	background-color: #97917A;
}

.sec2_text1{
	text-align: center;
	font-family: 'Montaga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #FCF9F7;
    padding-bottom: 32px;
}

.sec2_text2_block{
	display: flex;
	justify-content: center;
}

.sec2_text2_block div {
   display: flex;
   gap: 32px;
}

.sec2_text2_block div a {
   text-decoration: underline !important;
   font-family: 'Montaga';
   font-style: normal;
   font-weight: 400;
   font-size: 56px;
   line-height: 100%;
   color: #FCF9F7;
}

.sec2_text2_block div p {
   font-family: 'Montaga';
   font-style: normal;
   font-weight: 400;
   font-size: 56px;
   line-height: 100%;
   color: #FCF9F7;
   opacity: 0.3;
}

.sec2_people_block{
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 101px;
}

.people{
   width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.people img{
   width: 85%;
}

.people h4 {
   font-family: 'Montaga', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 100%;
text-align: center;
color: #FCF9F7;
margin-top: 24px !important;
}

/*========= Section 3 =========*/
.section3{
   padding-top: 93px;
   padding-left: 320px;
   padding-right: 320px;
   padding-bottom: 136px;
}

.sec3_img_block{
   display: flex;
   justify-content: center;
}

.sec3_text1{
   padding-top: 38px;
   padding-bottom: 32px;
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   text-align: center;
   color: #C6754D;
}

.sec3_title{
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 56px;
   line-height: 100%;
   text-align: center;
   color: #2B1105;
}

.sec3_text2{
   text-align: center;
}

.sec3_text2_block {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 32px;
   padding-bottom: 42px;
}

.sec3_text2_block p {
   text-align: center;
   font-family: 'Montaga';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   text-align: center;
   color: #2B1105;
   opacity: 0.8;
}

.sec3_img_block1{
   display: flex;
   justify-content: center;
}

/*========= Section 4 =========*/
.section4{
   padding: 0 80px;
}

.section4 h5{
   text-align: center;
   padding-bottom: 64px;
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 56px;
   line-height: 100%;
   color: #2B1105;
}

.sec4_block{
   display: flex;
   justify-content: space-between;
   margin-bottom: 136px;
}

.sec4_block_item{
   width: 30%;
}

.sec4_block_item h6{
   padding-bottom: 32px;
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 43px;
   line-height: 100%;
   color: #2B1105;
}

.sec4_block_item p{
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 160%;
   color: #2B1105;
   opacity: 0.8;
   padding-bottom: 32px;
}

.sec4_block_item button{
   background: #FCF9F7;
   border: 1px solid #C6754D;
   cursor: pointer;
   padding: 18px 28px;
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 24px;
   color: #C6754D;
   transition: 0.5s;
}

/*========= Section 5 =========*/
.sec5_img_block img{
   width: 100%;
}

.sec5_block{
   padding-top: 136px;
   padding-left: 276px;
   padding-right: 276px;
   padding-bottom: 80px;
}

.sec5_block h5{
  text-align: center;
  font-family: 'Montaga', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 100%;
color: #2B1105;
padding-bottom: 66px;
}

.sec5_block_month{
   display: flex;
   justify-content: center;
   gap: 64px;
   padding-bottom: 64px;
}

.sec5_block_month a:nth-child(1){
     border-bottom: 1px solid  #C6754D;;
}

.sec5_block_month a{
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   color: #2B1105;
   transition: 0.3s;
   padding-bottom: 4px;
   display: block;
}

.sec5_block_month a:hover{
   color: #C6754D !important;
   text-decoration: none !important;
}
.sec5_block_item{
   display: flex;
   flex-direction: column;
   gap: 64px;
}
.sec5_block_item1{
   display: flex;
}

.sec5_block_item1 div:nth-child(1){
   width: 30%;
}

.sec5_block_item1 div:nth-child(1) p{
  font-family: 'Montaga', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #C6754D;
}

.sec5_block_item1 div:nth-child(2){
   width: 70%;
}

.sec5_block_item1 div:nth-child(2) h6{
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400; 
   font-size: 32px;
   line-height: 100%;
   color: #2B1105;
   padding-bottom: 32px;
}

.sec5_block_item1 div:nth-child(2) p{
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;
   color: #2B1105;
   opacity: 0.7;
}

.pad{
   padding-bottom: 24px;
}

.sec5_last{
   padding-bottom: 25px;
}

/*========================== Vineyard ==========================*/
/*========= Header =========*/
.header{
   padding-top: 89px;
   padding-bottom: 130px;
   padding-left: 160px;
   padding-right: 160px;
   text-align: center;
  
}

.header_title_block1{
    margin-bottom: 67px;
}

.header div p:nth-child(1){
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   color: #C6754D;
   padding-bottom: 16px;
}

.header div h1{
  font-family: 'Montaga', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 101px;
  line-height: 100%;
  color: #2B1105;
  padding-bottom: 16px;
}

.header div p:nth-child(3){
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   color: #C6754D;
}

.header_img_block1{
   background-color: red;
   width: 100%;
}

.header_img_block1{
   width: 100%;
}

/*========= Section 1 =========*/
.section1{
   background: #C6754D;
}

.vin_sec1_text_block{
   padding: 110px 80px 0;
   display: flex;
}

.vin_sec1_text_block div:nth-child(1){
   width: 30%;
   display: flex;
   align-items: center;
}

.vin_sec1_text_block div:nth-child(2){
   width: 70%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.vin_sec1_text_block div h5 {
   font-family: 'Montaga', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 101px;
   line-height: 100%;
   color: #FCF9F7;
}

.vin_sec1_text_block div p {
   font-family: 'Montaga';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 160%; 
   color: #FCF9F7;
}

.vin_sec1_img_block{
   margin-top: 110px;
}

.vin_sec1_img_block img {
   width: 100%;
}

/*========= Section 3 =========*/
.vin_section2{
       padding: 135px 80px 86px;
       background-color: white;
}

/*========= Section 2 =========*/
.vin_section3 {
   background-color: white;
}

/*========================== Media ==========================*/
@media(max-width:1400px){
   .sec4_block_item p {
      font-size: 18px;
   }

   .section4 {
    padding: 0 50px;
   }

   .vin_section2 {
    padding: 135px 50px 86px;
   }

   .menu2 ul{
      gap: 50px;
   }
}

@media(max-width:1350px){
  .section3, .sec5_block{
    padding-left: 220px;
    padding-right: 220px;
  }

  .sec3_title {
   line-height: 130%;
  }

}

@media(max-width:1300px){
   .section2 {
    padding: 96px 60px;
   }
}

@media(max-width:1200px){
  .our_story {
    padding-top: 92px;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media(max-width:1165px){
  .people h4 {
   font-size: 22px;
  }

  .sec2_text2_block div a, .sec2_text2_block div p {
   font-size: 40px;
  }

  .sec2_people_block {
   margin-top: 60px;
  }
}

@media(max-width:1150px){
   .section3, .sec5_block{
    padding-left: 120px;
    padding-right: 120px;
   }

   .sec4_block_item p {
    font-size: 16px;
   }
}

@media(max-width:1020px){
   .header_title_block h1 {
      font-size: 65px;
      line-height: 50%;
   }

   .month p {
      font-size: 20px;
   }

   .menu ul li a {
      font-size: 15px;
   }

   .menu ul {
      gap: 15px;
   }

   .our_story {
    padding-left: 80px;
    padding-right: 80px;
   }

   .sec1_text_block {
       padding:  0 50px;
   }

   .section3 ,.sec5_block{
    padding-left: 80px;
    padding-right: 80px;
   }
}

@media(max-width:992px){
   .menu2 ul {
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
   }
}

@media(max-width:900px){
   .sec2_people_block{
      flex-wrap: wrap;
      gap: 35px;
   }

   .people{
      width: 47%;
   }

   .people h4 {
    font-size: 28px;
   }
}

@media(max-width:830px){
    .menu2 ul li a{
        font-size: 12px !important;
     }

      .menu2 ul {
       gap: 20px;
     }

     .nav-item img{
        width: 90px;
        height: 60px;
     }
}

@media(max-width:780px){
   .sec1_text_block {
    padding: 0px 0px;
   }
}

@media(max-width:770px){
 .menu2 ul {
    gap: 26px;
  }
}

@media(max-width:750px){
   .menu {
       padding-left: 15px;
       align-items: flex-start;
   }

   .header img {
      height: 500px;
   }

   .people{
      width: 45%;
   }

   .sec_title{
      font-size: 40px !important;
   }

   .our_story h5 {
      padding-bottom: 30px;
   }

   .sec1_text_block p, .sec3_text2_block p{
      font-size: 14px;
   }

   .sec4_block {
    display: flex;
    flex-direction: column;
    gap: 40px;
   }

   .sec4_block_item{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .sec5_block_item1 div:nth-child(2) h6 {
    font-size: 26px;
    padding-bottom: 20px;
   }

   .sec5_block_item1 div:nth-child(2) p {
      font-size: 15px;
   }

   .sec5_block_month {
      gap: 20px;
   }
}

@media(max-width:602px){
   .sec5_block_month a {
      font-size: 15px;
   }

   .menu2 ul {
      gap: 15px;
   }
}

@media(max-width:550px){
       .header_title_block h1 {
      font-size: 35px;
      line-height: 10%;
   }

   .sec2_people_block {
      flex-direction: column;
   }

   .people{
      width: 100%;
   }

   .month p {
      font-size: 16px;
   }

   .menu ul li a {
      font-size: 12px;
   }

   .header img {
      height: 400px;
   }

   .section3, .sec5_block {
    padding-left: 15px;
    padding-right: 15px;
   }

   .our_story, .section3{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 100px;
   }

   .sec1_img_block {
    margin-top: 70px;  
   }

   .sec_title {
    font-size: 28px !important;
   }

   .sec1_text_block p {
    font-size: 12px;
   }

   .section2 {
    padding: 96px 13px;
   }

   .sec2_text2_block div {
      flex-direction: column;
   }

   .section4 {
    padding: 0 15px;
   }


   .sec4_block_item h6 {
      font-size: 25px;
   }
   
   .sec4_block_item p {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
   }

   .sec4_block_item button {
          padding: 15px 20px;
   }

   .sec5_block_item1 div:nth-child(2) h6 {
    font-size: 24px;
    padding-bottom: 19px;
   }
}

@media(max-width:460px){
  .nav-item img {
    width: 50px;
    height: 40px;
  }

  .menu2 ul {
    gap: 5px;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
  }

   .nav-item img {
    width: 80px;
    height: 45px;
   }
}

@media(max-width:430px){
   .sec5_block_month{
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
   }

   .sec5_block_item1{
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   .sec5_block_item1 p, .sec5_block_item1 h6{
      text-align: center;
   }

   .sec5_block_item1 div:nth-child(1) p {
      padding-bottom: 15px;
   }

   .sec5_block_item1 div:nth-child(2) p {
    font-size: 12px;
   }

   .sec3_img_block  img {
      width: 70%;
   }

   .sec3_img_block1 img{
      width: 40%;
   }
}

@media(max-width:400px){
   .menu ul {
      gap: 0px;
   }

   .header img {
      height: 350px;
   }

   .sec3_img_block1 img{
      width: 50%;
   }
}