@font-face {
  font-family: 'DIN Pro';
  src:url('../DIN Pro/FontsFree-Net-DINPro-1.ttf');
}

@font-face {
  font-family: 'Graphi-kLight';
  src:url('../Graphik/GraphikLight.otf');
}

*{
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6{
	margin: 0 !important;
}

 h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN Pro' !important;
 }

 body {
  font-family: "Graphi-kLight" !important;
 }

.sec_padding{
  padding-left: 350px;
  padding-right: 350px;
}

.sec_title{
	font-size: 60px;
	font-style: normal;
   font-weight: 700;
   line-height: 91%;
   color: #0D0D0D;
   text-transform: uppercase;
}

img{
	vertical-align: middle !important;
}

.hide_block{
   display: none;
   background: green;
}

.block{
	display: none;
}

/*============================ Navbar ============================ */
.menu{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	padding: 20px 100px !important;
}

.menu ul {
	display: flex;
	gap: 50px;
}

.menu_item{
	display: flex;
	align-items: center;
	gap: 5px;
}

.menu_item a {
	 font-style: normal !important;
     font-weight: 700 !important;
     font-size: 14px !important;
     line-height: 15px !important;
     color: #0D0D0D !important;
}

.nav_right_side{
	display: flex;
	align-items: center;
	gap: 50px;
}

.mobile_nav_item, .login{
	display: none;
}

.nav_right_side a{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #0D0D0D;
}

/*============================ Header ============================ */
.header {
	position: relative;
	z-index: 10;
}

.header_text{
	position: absolute;
	width: 33%;
	z-index: 10;
	top: 109px;
	padding-left: 230px;
    box-sizing: border-box;
}

.header_text h1{
	font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 91px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.header_text p {
	font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.header_text button{
	 font-family: 'DIN Pro'; 
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 91%;
     text-transform: uppercase;
     color: #0D0D0D;
     padding: 20px 44px;
     border: none;
     cursor: pointer;
}

/*============================ Main ============================ */
/*================== Section 1 ================== */
.sec1_block {
	display: flex;
	justify-content: space-between;
}


.sec1_block_rightSide, .sec1_block_leftSide{
	 width: 45%;
	 margin: 100px 0;
}

.sec1_block_leftSide h5{
   font-style: normal;
   font-weight: 700;
   line-height: 91%;
   color: #0D0D0D;
}

.span{
	color: #FF5050 !important;
}

.sec1_block_rightSide{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sec1_block_rightSide_item {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.sec1_block_rightSide_item p {
	font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #0D0D0D;
    opacity: 0.6;
}

/*================== Section 2 ================== */
.sec2_block{
    background:  #FFF6F6;
    position: relative;
    padding: 84px 74px;
    margin-bottom: 100px;
}

.sec2_block_brder_top{
	 position: absolute;
	 top: -20px;
}

.sec2_block_brder_bottom{
	 position: absolute;
	 bottom: -16px;
}

.sec2_block_textEndImg_block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sec2_block_textEndImg_block_item2{
	width: 48%;
	display: flex;
	justify-content: space-between;
} 


.sec2_block_textEndImg_block_item1{
	width: 50%;
}

.sec2_text_block {
	width: 100% !important;
	margin:  0 !important;
	padding-top: 50px;
	box-sizing: border-box;
}

.sec2_text_block div{
	gap: 24px !important;
}

.sec2_text_block p {
	font-style: normal;
    font-weight: 400;
   font-size: 18px;
   line-height: 26px;
    color: #0D0D0D;
   opacity: 0.6;
}

.sec2_block_textEndImg_block_item2_img_block{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 30%;
}

/*================== Section 3 ================== */
.section3{
   background-color: #F8F8F8;;
   padding-top: 100px;
   padding-bottom: 100px;
}

.sec3_title {
	text-align: center;
	padding-bottom: 80px;
}

.section3_block{
	display: flex;
	justify-content: space-between;
}

.section3_block_item{
	width: 30%;
}

.sec3_block_item_img_block{
   padding: 22px 22px 28px 22px;
   background-color: white;
}

.sec3_item_title{
	padding-top: 25px;
	text-align: center;
	font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 91%;
    text-transform: uppercase;
    color: #0D0D0D;
}


.section3_block_item p{
   padding-top: 40px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #0D0D0D;
   opacity: 0.6;
}

/*================== Section 4 ================== */
.sec4{
	padding-top: 100px;
	padding-bottom: 100px;
}

.sec4_block1_leftSide_imgBlock_mobile{
	display: none;
}

.sec4_block1_title_block{
	width: 100%;
}

.sec4_block1{
	display: flex;
	justify-content: space-between;
	 padding-bottom: 100px;
}

.sec4_block1_leftSide{
	 width: 30%;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
	 align-items: flex-end;
}

.sec4_block1_title_block p {
	font-style: normal;
	font-family: 'DIN Pro' !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 91%;
    text-transform: uppercase;
    color: #FF5050;
    padding-bottom: 20px;
}

.sec4_block1_leftSide_text{
	font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #0D0D0D;
    opacity: 0.6;
    padding-top: 40px;
    padding-bottom: 50px ;
}

.sec4_block1_leftSide_imgBlock{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sec4_img1{
	width: 35%;
}

.sec4_img2{
	width: 54%;
}

.sec4_block1_rightSide{
	display: flex;
	width: 68%;
	justify-content: space-between;
}

.sec4_right_side_imgBlock1{
	display: flex;
	gap: 24px;
	flex-direction: column;
	justify-content: flex-end;
}

.sec4_right_side_imgBlock2{
	display: flex;
	gap: 24px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sec4_right_side_imgBlock3{
	display: flex;
	align-items: center;
}

.sec4_right_side_imgBlock4{
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.sec4_right_side_imgBlock4 button{
   margin-top: 90px;
   padding: 20px 40px;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 91%;
   text-transform: uppercase;
   color: #FFFFFF;
   border: none;
   background-color: #FF5050;
   cursor: pointer;
}

.sec4_block2{
	margin: 0 !important;
	padding: 65px 81px;
}

.section4_card_block{
	display: flex;
	justify-content: space-between;
}

.section4_card_block_item{
	width: 23%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 33px;
}

.section4_card_block_item p{
	font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px; 
    color: #0D0D0D;
    opacity: 0.6;
}

.sec5_text10, .sec5_text11{
  text-align: center;
  
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #0D0D0D;
}

.sec5_text10{
	margin-top: 92px !important;
}

.sec5_text11{
	margin-top: 5px !important;
	font-weight: bold;
}

/*================== Section 5 ================== */
.sec5{
	margin-bottom: 100px;
	background-color: #F8F8F8;
}

.sec5_block{
  padding: 100px 0;
}

.sec5_block_titleBlock p{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #0D0D0D;
}

.sec5_title{
	text-align: center;
	padding-bottom: 30px;
}

.sec5_card_block{
	display: flex;
	justify-content: space-between;
	margin-top: 84px;
	margin-bottom: 60px;
}

.sec5_card_block_item{
	width: 31%;
	padding-left: 40px;
	padding-right: 40px;
	background-color: white;
	box-sizing: border-box;
	position: relative;
}

.card_item_title{
	padding-top: 40px;
	padding-bottom: 20px;
	font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 91%;
   text-transform: uppercase;
}

.card_item_price{
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D0D0D;
    padding-bottom: 30px;
}

.card_item_price span{
	font-style: normal;
    font-weight: 500;
    font-size: 34.4118px;
    line-height: 38px;
    text-align: center;
    color: #0D0D0D;
}

.card_item_paragraph{
	font-style: normal;
    font-weight: 900 !important;
    font-size: 16px;
    line-height: 26px;
    color: #0D0D0D;
    padding-top: 30px;
}

.card_item_last_text_block{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 16px;
	margin-bottom: 67px;
}

.card_item_last_text_block div {
	display: flex;
	gap: 10px;
	align-items: center;
}


.card_item_last_text_block div p {
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D0D0D;
}

.cencel{
  opacity: 0.4;
}

.sec5_card_block_item button {
	position: absolute;
	bottom: -28px;
	left: 25%;
	right: 25%;
}

.sec5_card_block_item {
   gap: 0 !important;
}

/*================== Section 6 ================== */
.sec6{
   padding-bottom: 100px;
}

.sec6_title{
	padding-bottom: 40px;
}


.sec6_block{
	display: flex;
	justify-content: space-between;
}

.sec6_block_textButton{
	width: 35%;
}

.sec6_block_textBlock2{
	padding:40px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.sec6_block_textBlock2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D0D0D;
    opacity: 0.6;
}

.sec6_block_textButton button{
	width: 50% ;
	margin-top: 0!important;
}

.sec6_block_img{
	width: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F1F4F9;
}

.sec6_block_img img {
	width: 100%;
	height: 80%;
}

/*================== Section 7 ================== */
.sec7_block{
	position: relative;
}

.sec7_block_text{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.sec7_block_text h6{
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 91%;
  text-transform: uppercase; 
  color: #FFFFFF;
}

.sec7_block_text h4{
	padding-bottom: 40px;
	font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 91%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sec7_block_text div{
	width: 35%;
}

.sec7_block_text div p{
	font-style: normal;
   font-weight: 200 !important;
   font-size: 18px;
   line-height: 26px;
   color: #FFFFFF;
}

.sec7_block_text button{
	 margin-top: 50px;
	 font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 91%;
     text-transform: uppercase;
     color: #FFFFFF;
     background: #FF5050;
     padding: 20px 30px;
     border: none;
     cursor: pointer;
}

.sec7_hide1{
	display: none;
}

/*================== Section 8 ================== */
.sec8{
	padding-top: 100px;
	padding-bottom: 153px;
}

.sec8_title{
	text-align: center;
}

.sec8_block{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	transition: 0.3s;
}

.sec8_block_item{
	width: 32%;
	cursor: pointer;
}

.sec8_block_item_img{
	padding:10px;
	 background-image: none !important;
	 position: relative;
	 z-index: 5;
	 cursor: pointer;
	 transition: 0.5s;
}

.sec8_block_item_img button {
	position: absolute;
	bottom: -80px;
	left: 0;
	z-index: 5;
	transition: 0.3s;
	margin: 10px;
	width: 95%;
	border: none;
	cursor: pointer;
	padding: 20px 0;
	background: gray;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 91%;
	text-transform: uppercase;
	color: #0D0D0D;
}

.sec8_block_item:hover .sec8_block_item_img button{
    bottom: 0 !important;
}

.sec8_block_item:hover .sec8_block_item_img{
   background-color: #F3F3F3;
}

.sec8_block_item_text{
	position: absolute;
	background: red; 
	z-index: 25; 
	width: 22.7%;
	background: white !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sec8_block_item_text h6{
	padding-top: 30px;
	padding-bottom: 16px;
	text-align: center;
	color: black;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 91%;
	text-transform: uppercase;
	color: #0D0D0D;
}

.sec8_block_item_text p{
	text-align: center;
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D0D0D;
    text-align: center ;
    padding-bottom: 19px;
}

.sec8_text_block_img{
	display: flex;
	align-items: center;
	gap: 5px;
}

/*================== Section 9 ================== */
.sec9{
  margin-top: 100px;
}

.slider{
	transition: 0.3s !important;
}

.uk-dotnav>.uk-active>* {
	background-color: #0D0D0D !important;
}

.uk-dotnav>*>* {
	border: 1px solid #0D0D0D !important; 
}

.sec9_block{
   background: #F8F8F8;
  
}

.slide_block{
	width: 100%;
	min-height: 445px !important;
}

.slide_block_item{
	width: 100% !important;
	height: 100% !important;
	padding-top: 100px;
}

*+.uk-margin {
	padding-bottom: 100px !important;
}

.sec9_title{
	color: #FF5050 !important;
	padding-top:  0 !important;
	padding-bottom: 50px !important;
}

.slide_block_item_text{
	display: flex;
	justify-content: space-between;
}

.slide_block_item_text div {
	width: 30%;
	position: relative;
}

.slide_block_item_text p {
	font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: #0D0D0D;
}

.op_p{
	opacity: 0.5;
}

.p2{
	text-align: center;
	padding-top: 32px;
	font-style: normal;
    font-weight: 700;
    font-size: 20px;
	line-height: 91%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #0D0D0D;
	opacity: 0.4;
}

/*================== Section 10 ================== */
.sec10_1{
	padding-top: 100px !important;
	padding-bottom: 90px !important;
}

.sec_10_title{
	padding-top: 100px;
	text-align: center;
	font-size: 20px !important;
	padding-bottom: 36px;
}

.sec10_img_block{
	display: flex;
	justify-content: space-between;
	padding-bottom: 105px;
}

.sec10_img_block_item{  
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*============================ Footer ============================ */
.footer_top{
	background: #262425;
}

.footer_top{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	justify-content: space-between;
}

.footer_top_leftSide, .footer_top_middle{
	width: 30%;
}

.footer_top_middle{
	display: flex;
    gap: 90px;
}

.footer_top_middle_text1_block, .footer_top_middle_text2_block{
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.footer_top_item{
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 15px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.footer_top_leftSide p {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 31px;
	color: #FFFFFF;
}

.left_side_border {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #FFFFFF;
}

.footer_top_leftSide input {
	background: transparent;
	border: none;
	width: 100%;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.left_side_barev{
	margin-top: 50px;
	display: flex;
	gap: 34px;
}

::placeholder{
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.4;
}
/*============================ Meida ============================ */
@media(max-width:2167px){
	.header_text h1 {
		 font-size: 80px;
	}
}

@media(max-width:1980px){
	 .header_text h1 {
	 	 font-size: 75px;
	 }

     .sec_title{
	  font-size: 53px;
    }

    .sec3_item_title{
    	 font-size: 16px;
    }

    .header img {
    	height: 650px;
    }

    .sec4_right_side_imgBlock4 button{
    	font-size: 16px;
    }

    .sec4_right_side_imgBlock4 button {
      padding: 20px 10px;
    }

    .card_item_title{
    	font-size: 20px;
    }

    .sec8_block_item_text {
    	width: 20.7%;
    }
}

@media(max-width:1890px){
	 .sec8_block_item_text {
    	width: 20.2%;
    }
}

@media(max-width:1800px){
	.header_text {
		width: 40%;
	}

	.sec8_block_item_text {
      width: 19.5%; 
    }
}

@media(max-width:1764px){
	.sec_padding {
      padding-left: 250px;
      padding-right: 250px;
    }

    .sec8_block_item_text {
       width: 22.9%;
    }
}

@media(max-width:1660px){
	.sec8_block_item_text {
      width: 22.1%;
    }
}

@media(max-width:1565px){
  .sec_padding {
      padding-left: 150px;
      padding-right: 150px;
   }

   .sec8_block_item_text {
    width: 25.4%;
   }
}

@media(max-width:1490px){
	.header img {
    height: 600px;
   }

   .header_text {
    width: 48%;
    }

    .sec2_block {
    padding: 65px 40px;
   }
}


@media(max-width:1445px){
	.sec2_block_brder_top {
       top: -12px;
    }

    .sec2_block_brder_bottom {
       bottom: -12px;
     }


	.header_text{
		padding-left: 120px;
		width: 40%;
	}

	.header_text{
		 padding-left: 65px;
		 width: 42%;
	}

	 .sec_title{
	     font-size: 45px;
    }

     .header_text h1 {
          font-size: 60px;
          line-height: 65px;
    }

    .sec1_block_rightSide_item p {
    	  font-size: 16px;
    }

    .sec3_item_title {
       font-size: 15px;
    }
}

@media(max-width:1420px){
   .sec8_block_item_text {
    width: 25%;
   }

   .sec8_block_item_img button {
   	  width: 94.5%;
   }
}

@media(max-width:1408px){
	 .sec3_item_title {
         font-size: 13px;
     }

     .section3_block_item p {
     	font-size: 12px;
     }

     .slide_block_item_text p {
     	font-size: 24px;
     }
}  

@media(max-width:1380px){
	.sec4_block1_rightSide img {
		width: 100%;

	}

	.sec4_block1_rightSide div{
		width: 20%;
	}

	.sec4_block1_rightSide div {
       width: 22%;

    }

	.sec4_img2 {
       width: 54%;
       height: 150px;
    }

    .sec8_block_item_img button {
   	  width: 94%;
    }
}

@media(max-width:1360px){
   .sec8_block_item_text {
       width: 24.9%;
   }
}

@media (max-width:1350px){
	.navbar {
       padding: 20px 60px !important;
    }
}

@media(max-width:1310px){
   .footer_top_item {
   	font-size: 11px;
   }
}

@media(max-width:1290px){
	.sec2_block_textEndImg_block_item2_img_block img {
		height: 180px;
	}

	.sec_padding {
       padding-left: 160px;
       padding-right: 160px;
    }

    .menu ul, .nav_right_side {
        gap: 20px;
    }

    .navbar {
    padding: 20px 70px !important;
    }

    .sec8_block_item_text {
      width: 23.9%;
     }
}

@media(max-width:1289px){
   .sec_padding {
      padding-left: 100px;
      padding-right: 100px; 
   }

    .sec8_block_item_text {
      width: 27%;
    }

    .sec8_block_item_img button {
       width: 93.9%;
    }
}

@media(max-width:1250px){
	.sec5_card_block_item {
		padding-left: 20px;
		padding-right: 20px;
	}

	.card_item_last_text_block div p {
		font-size: 12px;
	}

	.sec8_block_item_text {
      width: 26.8%;
    }
}

@media(max-width:1230px){
	.sec8_block_item_text {
      width: 26.7%;
    }
}

@media(max-width:1200px){
  .sec8_block_item_text {
    width: 26.6%;
  }
}

@media(max-width:1170px){
  .sec8_block_item_text {
    width: 26.4%;
  }

   .sec8_block_item_img button {
       width: 93.5%;
   }
}

@media(max-width:1150px){
     .sec8_block_item_text h6 {
     	font-size: 17px;
     }

     .sec8_block_item_text {
        width: 26.3%;
     }
}

@media(max-width:1148px){
	.sec_padding {
       padding-left: 100px;
       padding-right: 100px;
    } 

    .sec1_block_rightSide_item p {
        font-size: 14px;
     }

     .sec2_block {
        padding: 30px 20px;
    }

    .menu_item {
    	gap: 0;
    }

    .menu_item a, .nav_right_side a{
       font-size: 10px !important ;
     }

     .sec4_img2 {
      width: 54%;
      height: 125px;
    }

    .sec7_block_text div{
	 width: 40%;
    }
}

@media(max-width:1110px){
	.sec8_block_item_text {
       width: 26.1%;
     }

     .sec8_block_item_img button {
       width: 93%;
     }
}

@media(max-width:1078px){
  .sec5_card_block_item button {
  	font-size: 12px !important;
  }

  .sec8_block_item_text {
    width: 26%;
   }

   .footer_top1{
   	width:  45%;
   }

   .footer_top{
   	flex-wrap: wrap;
   	align-items: center;
   	justify-content: center;
   	gap: 45px;
   }
}

@media(max-width:1075px){
	.sec3_item_title {
       font-size: 12px;
    }

    .section3_block_item p {
      font-size: 11px;
      padding-top: 20px;
    }
 
    .section4_card_block_item p {
    	font-size: 15px;
    }
}


@media(max-width:1030px){
	.sec_title {
       font-size: 40px;
    }

    .sec1_block_rightSide {
    	 gap: 10px;
    }

    .sec1_block_rightSide_item p {
         font-size: 11px;
    }

    .sec3_item_title {
       font-size: 11px;
    }

    .section3_block_item p {
      font-size: 11px;
    }

    .sec4_img2 {
      width: 54%;
      height: 130px;
    }

    .sec7_block_text div{
	   width: 50%;
    }

    .sec8_block_item_text {
       width: 25.6%;
     }

     .sec8_block_item_img button {
       width: 92.5%;
     }

     .slide_block_item_text p {
     	font-size: 18px;
     }
}

@media(max-width:992px){
	.mobile_nav_item{
		display: block;
		width: 92%;
		 display: flex;
       justify-content: space-between;
       align-items: center;
	}

	.sec8_block_item_img button {
      width: 92%;
    }

	.sec8_block_item_text {
       width: 25.3%;
     }

     .sec8_block_item_text p {
     	 font-size: 12px;
     }

     .sec8_block_item_text h6 {
        font-size: 14px;
     }

	.mobile_menu_right_side{
		display: flex;
		gap: 20px;
	}

	.sec10_img_block{
		flex-wrap: wrap;
		gap: 30px;
	}

	.sec10_img_block_item{
		 width: 20%;
	}

	.navbar {
       padding: 30px 20px !important;
    }

    .nav_right_side, .logo{
    	display: none;
    }

    .menu_item {
       gap: 10px;
    }

    .menu_item{
    	font-size: 12px;
    }

    .login {
    	display: block;
    }
    .menu{
    	display: flex;
    	align-items: center;
    }
}

@media(max-width:970px){
	.sec_padding {
       padding-left: 70px;
       padding-right: 70px;
    }

    .sec7_block img {
    	height: 600px;
    }

    .sec8_block_item_text {
       width: 27.3%;
    }
}

@media(max-width:952px){
	.sec_padding {
       padding-left: 60px;
       padding-right: 60px;
    }

    .sec_title {
       font-size: 32px;
    }

     .section4_card_block_item p {
    	font-size: 13px;
     }

     .sec4_img2 {
       width: 54%;
       height: 135px;
     }

     .sec8_block_item_text {
        width: 27.9%;
     }
}

@media(max-width:935px){
    .sec3_block_item_img_block {
       padding: 15px 15px 20px 15px;
    }

    .sec3_item_title {
       font-size: 12px;
    }

    .section3_block_item {
       width: 31%;
    }
}

@media(max-width:920px){
	.mobile_nav_item {
		width: 91%;
	}

	.sec8_block_item_text {
       width: 27.7%;
    }
}

@media(max-width:890px){
	.sec8_block_item_text {
      width: 27.5%;
    }
}

@media(max-width:865px){
	.header_text p {
		font-size: 15px;
	}

	.sec_padding {
       padding-left: 30px;
       padding-right: 30px;
    }

    .sec4_img2 {
      width: 54%;
      height: 134px;
    }

    .sec8_block_item_text {
       width: 29.6%;
     }
}


@media(max-width:850px){
	.header_text h1 {
      font-size: 50px;
      line-height: 60px;
    }

    .header_text button {
    	font-size: 16px;
    	    padding: 15px 30px;
    }

    .card_item_title {
       font-size: 17px;
    }

    .card_item_last_text_block div {
    	flex-direction: column-reverse;
    }

    .sec5_card_block_item {
    padding-left: 20px;
    padding-right: 20px;
   }
}

@media(max-width:804px){
	.sec3_block_item_img_block {
       padding: 10px 15px 20px 10px;
    }

    .section3_block_item {
       width: 32%;
    }

    .section3_block_item p {
       font-size: 10px;
           line-height: 15px;
    }

    .sec3_item_title {
       font-size: 10px;
    }
}

@media(max-width:800px){
	.sec2_block_textEndImg_block_item1 h5 {
		font-size: 30px !important;
	}

	.sec2_block_textEndImg_block_item2_img_block img {
        height: 140px;
    }

    .mobile_nav_item {
        width: 90%;
    }

     .section4_card_block_item p {
    	font-size: 11px;
     }


     .sec4_right_side_imgBlock4 button {
         font-size: 14px;
      }

      .sec8_block_item_img button {
         width: 91%;
     }
}

@media(max-width:790px){
    .sec8_block_item_text {
      width: 29.4%;
    }
}

@media(max-width:787px){
	.sec4_block1_leftSide_text {
		font-size: 14px;
	}


     .sec4_right_side_imgBlock4 button {
         margin-top: 105px;
     }
}

@media(max-width:775px){
    .slide_block_item_text p {
     	font-size: 13px;
     }
}

@media(max-width:750px){
  .card_item_paragraph {
      font-size: 14px;
  }

  .card_item_last_text_block div p {
    font-size: 11px;
   }

   .sec5_card_block_item {
    padding-left: 10px;
    padding-right: 10px;
   }

   .sec5_card_block_item button {
    font-size: 10px !important;
   }

   .sec6_block_textButton {
   	  gap: 0;
   }

   .card_item_title {
    font-size: 14px;
   }

   .card_item_price {
   	 font-size: 12px;
   }

   .card_item_price span {
   	font-size: 25px;
   }
}

@media(max-width:730px){
	.header_text h1 {
      font-size: 46px;
      line-height: 52px;
    }

    .header_text p {
     font-size: 13px;
    }

    .header img {
        height: 500px;
    }

    .header_text h1 {
         font-size: 40px;
         line-height: 47px;
         padding-bottom: 10px;
    }

    .header_text p {
       font-size: 11px;
       padding-bottom: 25px;
    }
}

@media(max-width:710px){
  .sec8_block_item_text {
    width: 29.2%;
  }

  .sec8_block_item_img button {
  	 font-size: 13px;
  	 padding: 10px 0;
  }
}


@media(max-width:700px){
    .mobile_nav_item {
        width: 88%;
    }

    .footer_top_middle {
    	gap: 50px;
    }

    .section3_block_item p {
      font-size: 9px;
      padding-top: 10px;
    }

    .footer_top {
    	gap: 30px;
    }

    .sec4_right_side_imgBlock4{
    	display: flex;
    	flex-direction: column;
    	align-items: flex-end;
    	justify-content: flex-end;
    }

    .sec5_card_block_item , .sec6_block_textButton {
    	align-items: flex-start;
    	justify-content: flex-start;
    }
     
     .sec6_block_textBlock2 {
        padding: 20px 0;
     }

     .sec6_block_textButton button{
     	 width: 70%;
     }  

     .sec7_block_text div p {
     	font-size: 17px;
     }

     .sec7_block_text div {
     	width: 55%;
     }

     .sec8_block_item_img button {
         width: 90%;
     }

}

@media(max-width:690px){
  .sec8_block_item_text h6 {
    padding-top: 18px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
   }

   .sec8_block_item_text p {
   	padding-bottom: 10px;
   }
}

@media(max-width:668px){
	.sec4_block1_leftSide_text {
		font-size: 10px;
		    line-height: 24px;
	}

	.sec8_block_item_text {
      width: 29%;
    }
}

@media(max-width:662px){
 .section3_block_item {
      width: 32.5%;
     }

     .card_item_title {
    font-size: 11px;
    padding-top: 28px;
    padding-bottom: 10px; 
   }

   .card_item_last_text_block div p {
   	 font-size: 9px;
   	 text-align: center !important;
   }

   .card_item_last_text_block{
   	width: 100%;
   }

  .card_item_price {
    font-size: 10px;
   }

   .card_item_price span {
    font-size: 22px;
   }

   .sec5_card_block_item button {
     width: 65%;
     left: 19%;
     right: 21%;
   }
}

@media(max-width:650px){
	.header img {
      height: 400px;
    }

    .footer_top1 {
       width: 50%;
    }

    .header_text {
    	top: 65px;
    }

    .sec2_block_textEndImg_block_item1 h5 {
		font-size: 25px !important;
	}

	.sec2_text_block {
		 padding-top: 20px;
	}

	.sec3_block_item_img_block {
       padding: 10px 10px 20px 10px;
    }

     .sec8_block_item_img button {
         width: 89%;
     }
}


@media(max-width:634px){
	.sec4_right_side_imgBlock4 button {
    font-size: 12px;
  }
}

@media(max-width:628px){
  .sec_padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec8_block_item_text {
    width: 29.8%;
  }
}

@media(max-width:620px){
	 .header_text h1 {
         line-height: 47px;
         padding-bottom: 10px;
    }

    .card_item_paragraph {
      font-size: 12px;
      text-align: center;
      width: 100%;
   }

    .header_text p {
        font-size: 10px;
        padding-bottom: 25px;
        line-height: 19px;
    }

    .sec4_block1_title_block h5{
        font-size: 31px !important;
    }

    .header_text {
    	top: 60px;
       padding-left: 30px;
       width: 43%;
     }

     .sec4_block1_leftSide_text {
    font-size: 11px;
    line-height: 18px;
    }

    .sec4_block1_rightSide div {
    width: 22%;
   }
}

@media(max-width:615px){
   .sec_title {
    font-size: 30px;
   }

   .sec1_block_rightSide_item p {
    font-size: 10px;
   }

   .sec1_block_rightSide{
    width: 50%;
   }
}

@media(max-width:607px){
   .sec3_item_title {
    font-size: 9px;
   }
}

@media(max-width:600px){
	.mobile_nav_item {
        width: 87%;
    }

    .sec4_block1_title_block h5{
        font-size: 28px !important;
    }

    .sec7_block img {
       height: 500px;
    }

    .sec7_block_text div {
        width: 70%;
    }
}


@media(max-width:582px){
    .sec4_block1_title_block h5{
        font-size: 29px !important;
    }
}

@media(max-width:576px){
	.sec5{
	   margin-bottom: 70px;
    }

    *+.uk-margin {
       margin-top: 0 !important;
    }

    *+.uk-margin {
       padding-bottom: 70px !important;
    }

    .slide_block_item {
    	padding-top: 70px;
    }

    .footer_top{
    	flex-direction: column;
    }

    .footer_top_middle, .footer_top_leftSide{
    	width: 100%;
    }

    .footer_top {
       gap: 60px;
     }

    .sec9{
      margin-top: 73px;
    }

    .sec_10_title{
	padding-top: 70px;
	text-align: center;
	font-size: 20px !important;
	padding-bottom: 72px;
    }

    .item1{
    	display: none;
    }

    .item2{
    	width: 100% !important;
    	padding-left: 20px;
    	padding-right: 20px;
    }

    .p11{
    	font-size: 20px !important;
    }


    .sec8_block{
    	flex-direction: column;
    	gap: 125px;
    }

    .sec8_block_item, .sec8_block_item_img img{
    	width: 100%;
    }

    .sec8_block_item_text {
       width: 92.4%;
     }

     .sec8_block_item_img button {
        width: 96%;
     }

    .sec8{
    	padding-top: 70px;
	    padding-bottom: 73px;
    }

    .slide_block{
	   min-height: 400px !important;
     }

    .sec10_img_block{
		flex-wrap: wrap;
		gap: 30px;
	}

	.sec10_img_block_item{
		 width: 42%;
	 }

    .sec10{
	   padding-top: 70px;
	   padding-bottom: 70px;
    }

    .flex_start {
    	justify-content: flex-start;
    }

    .flex_end{
    	justify-content: flex-end;
    }

    .sec7_block_text h6{
    	font-size: 18px;
    	padding-bottom: 16px;
    }

    .sec7_block_text h4{
    	font-size: 32px;
    	padding-bottom: 20px;
    }

    .sec7_block_text div p{
       font-size: 16px;    	
    }
    
    .sec7_block_text div {
    	width: 85% ;
    }

    .sec7_block_text button{
    	 padding: 16px 30px;
    	 font-size: 18px;
    	 margin-top: 30px;
    }

    .sec7_hide1{
    	display: block;
    }

    .sec7_hide{
    	display: none;
    }

    .sec7_block_text {
    	justify-content: flex-end;
    	padding-bottom: 69px;
    }

    .footer_top{
	  padding-top: 70px;
	  padding-bottom: 60px;
    }

    .sec7_block img{
    	width: 100%;
    	height: 700px;
    }

    .sec6_block{
    	flex-direction: column;
    	gap: 50px;
    }

    .sec6_block_textButton, .sec6_block_img{
    	width: 100%;
    }

    .sec6_block_textButton button{
    	width: 25%;
    }

    .sec6{
    	 padding-bottom: 70px;
    }

    .card_item_last_text_block div {
    	flex-direction: row;
    }

    .sec5_card_block_item{
    	padding-left: 20px;
    	padding-right: 20px;
    }

    .card_item_title {
       font-size: 22px;
       padding-top: 20px;
       padding-bottom: 12px;
    }

    .card_item_price {
      font-size: 13px;
    }

    .card_item_price span {
      font-size: 38px;
    }

    .card_item_paragraph {
    font-size: 14px;
    text-align: left;
    width: 100%; 
   }

   .card_item_last_text_block div p {
   	 font-size: 14px;
   }

   .sec5_card_block_item button {
    width: 40%;
    left: 30%;
    right: 30%;
    font-size: 18px !important;
}


    .sec5_card_block{
    	flex-direction: column !important;
    	gap: 55px;
    }

    .shor_img{
    	width: 100%;
    }

    .sec5_card_block_item {
    	width: 100%;
    }

    .sec5_block {
    	padding: 70px 0;
    }
	.sec4{
	   padding-top: 70px;
	   padding-bottom: 70px;
    }

    .sec4_block1_leftSide_imgBlock_mobile{
    	display: block;
    	width: 100%;
    }

    .sec4_block1_rightSide, .sec4_block1_leftSide_imgBlock{
    	display: none;
    }

    .block10{
    	display: flex;
    	justify-content: space-between;
    	align-items: flex-end;
    }

    .block10 div{
    	display: flex;
    	flex-direction: column;
    	gap: 14px;
    }
    
    .block10 div img {
    	width: 100%;
    }

    .block10_1 {
    	width: 23%;
    }
    
    .block10_2 {
    	width: 45%;
    }

    .block10_2 img{
    	height: 200px;
    }

    .sec4_block1_leftSide_text{
    	padding-right: 96px;
    	font-size: 14px;
    	padding-bottom: 0px;
    }

    .sec4_block1_leftSide{
    	width: 100%;
    	align-items: flex-start;
    	justify-content: flex-start;
    }

    .sec4_block2{
	margin: 0 !important;
	padding: 31px 29px !important;
    }

    .section4_card_block_item{
    	width: 100%;
    	gap: 13px;
    }

    .section4_card_block_item p{
    	 font-size: 14px;
    }

    .section4_card_block{
    	flex-direction: column;
    	gap: 30px;
    }

	.none{
		display: none;
	}

	.sec3_block_item_img_block {
       padding: 20px 20px 25px 20px;
    }

	.section3_block{
		flex-direction: column;
		gap: 40px;
	}

	.section3_block_item, .sec3_block_item_img_block img {
		width: 100%;
	}

	.sec3_block_item_img_block h6{
		font-size: 22px;
	}

	.section3_block_item p{
       font-size: 14px;
       padding-top: 20px;
	}

	.logo_mbile{
		width: 180px;
	}

	.sec2_block{
		margin-bottom: 80px;
	}

	.nav_btn{
		border: none !important;
	}

	.navbar-toggler {
		 padding: 0 0 !important;
	}

	.sec_title {
    font-size: 30px;
    }

	.sec2_block_textEndImg_block {
		flex-direction: column;
		gap: 50px;
	}

	.sec2_block {
    padding: 60px 0px;
    }

    .sec2_block_textEndImg_block_item2_img_block img {
    	 width: 100%;
    }

    .sec2_block_textEndImg_block_item1 h5 {
     font-size: 30px !important;
     text-align: center;
    }

    .sec2_text_block{
    	padding-left: 33px;
    	padding-right: 33px;
    }

	.sec2_block_textEndImg_block_item1, .sec2_block_textEndImg_block_item2{
		width: 100%;

	}

	.sec2_text_block{
		margin-top:  0 !important;
	}

	.sec2_text_block {
      padding-top: 0px;
    }

    .sec1_block_rightSide_item p {
    font-size: 11px !important;
    }

	.block{
		display: block;
	}

	.header_text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header_text p {
        font-size: 16px;
        text-align: center;
    }

    .header_text button {
      font-size: 20px;
       padding: 16px 36px;
    }

    .header_text {
    	 padding-left: 25px;
    	 padding-right: 25px;
    }

    .hide_block{
    	display: block;
    }

    .hide_block{
    	position: relative;
    	bottom: 2px;
    	height: 250px;
    }

    .header img {
       height: 266px;
    }

    .hide_block img{
    	width: 100%;
    	height: 100%;
    	vertical-align: middle;
    }

    .sec1_block {
    	 flex-direction: column;
    }

    .sec1_block_rightSide, .sec1_block_leftSide {
       width: 100%;
       margin: 100px 0;
    }

    .sec1_block_rightSide, .sec1_block_leftSide {
      width: 100%;
       margin: 0px 0;
     }

     .sec1_block_rightSide{
     	  margin-top: 30px !important;
     }

     .sec1_block{
     	 margin-top: 80px !important;
     	 margin-bottom: 70px !important;
     }

     .sec1_block_rightSide_item p {
       font-size: 13px;
    }

    .sec_padding {
      padding-left: 20px;
      padding-right: 20px;
    }
}

@media(max-width:530px){
	 .block10_2 img{
    	height: 189px;
    }

    .sec8_block_item_text {
       width: 92%;
     }

     .sec8_block_item_img button {
        width: 95.6%;
     }
}

@media(max-width:500px){
	 .block10_2 img{
    	height: 189px;
    }

    .block10_2 img {
    height: 177px;
    }

    .sec8_block_item_text {
       width: 91.5%;
     }

     .sec8_block_item_img button {
        width: 95%;
     }
}

@media(max-width:470px){
  .block10_2 img {
    height: 165px;
  }
}

@media(max-width:457px){
	.mobile_nav_item {
      width: 86%;
    }

     .sec8_block_item_text {
       width: 91%;
     }

     .sec8_block_item_img button {
        width: 94.8%;
     }
}

@media(max-width:427px){
	 .mobile_nav_item {
      width: 85%;
    }

     .sec8_block_item_text {
       width: 90%;
     }

    .logo_mbile{
    	width: 130px;
    }

    .search{
    	width: 20px;
    }

    .sec4_block1_leftSide_text {
    padding-right: 62px;
   }


  .block10_2 img {
    height: 150px;
  }

  .sec6_block_textButton button{
    	width: 40%;
    }

}

@media(max-width:420px){
	.header img {
       height: 280px;
    }

    .sec1_block {
       margin-top: 90px !important;
   }

   .sec_title {
    font-size: 25px;
    }

    .sec5_card_block_item button {
       width: 50%;
      left: 25%;
      right: 25%;
    }


    .sec2_block_textEndImg_block_item1 h5 {
     font-size: 25px !important;
     text-align: center;
    }

}


@media(max-width:409px){
	.header img {
       height: 290px;
    }

    .sec1_block {
      margin-top: 100px !important;
    }

    .sec8_block_item_text {
       width: 89%; 
     }

     .sec8_block_item_img button {
       width: 93.8%;
     }
}

@media(max-width:400px){
    .mobile_nav_item {
      width: 84%;
    }
}

@media(max-width:380px){
	.block10_2 img {
    height: 135px;
   }
}

@media(max-width:378px){
	 .mobile_nav_item {
      width: 88%;
    }

    .p11 {
     font-size: 16px !important;
    }

    .sec9_title{
    	font-size: 18px !important;
    }

    .navbar {
      padding: 30px 10px !important;
     }

    .sec8_block_item_text {
       width: 88%; 
     }

     .sec8_block_item_img button {
       width: 92.8%;
     }
}

@media(max-width:350px){
	.block10_2 img {
       height: 121px;
    }

    .sec5_card_block_item button {
       font-size: 15px !important;
    }
}

@media(max-width:340px){
  .sec3_block_item_img_block h6 {
    font-size: 20px;
  }

   .sec_10_title {
      font-size: 18px !important;
    }

    .sec8_block_item_text {
       width: 87%; 
    }
}

@media(max-width:320px){
   .sec3_block_item_img_block h6 {
    font-size: 17px;
   }

   .sec4_block1_leftSide_text {
       padding-right: 9px;
    }

    .slide_block{
	  min-height: 300px !important;
     }

    .block10_2 img {
       height: 110px;
    }

    .sec6_block_textButton button{
    	width: 50%;
    }

    .sec8_block_item_text {
      width: 86%;
    }

     .sec8_block_item_img button {
       width: 91.9%;
     }

     .sec_10_title {
        font-size: 16px !important;
     }

     .p11 {
       font-size: 14px !important;
     }
}

@media(max-width:310px){
	.header img {
       height: 310px;
    }

    .sec1_block {
      margin-top: 120px !important;
     }

     .sec5_card_block_item button {
       width: 60%;
       left: 20%;
       right: 25%;
     }
}


@media(max-width:300px){
	.sec8_block_item_text {
      width: 85%;
    }

    .sec8_block_item_img button {
       width: 91%;
    }
}