*{
	padding: 0;
	margin: 0;
}

body{
	 background: #F9FBFF !important;
}

p, h5, h6, h1{
	margin: 0 !important;
}

.sec_padding{
	padding-left: 161px;
	padding-right: 161px;
}

.sec_title{
	font-style: normal;
	font-weight: 700 !important;
	font-size: 26px;
	line-height: 26px;
	color: #383838;	
	text-align: center;
}
/*============================ Navbar ============================*/
.menu_righrSide{
	display: flex;
	gap: 28px;
}

.menu {
	padding-left: 162px !important;
	padding-right: 162px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.menu ul {
	display: flex;
	gap: 55px;
}

.logo{
	padding-right: 55px !important;
}

.menu_righrSide button {
	border: 1px solid #3A85F4;
    border-radius: 123px;
    padding: 11px 34px;
    font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #3A85F4;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #3A85F4 !important;
    border-color: #3A85F4 !important;
}

.navbar-brand {
	margin-right: 0 !important;
	padding-top: 0  !important;
	padding-bottom: 0 !important;
}

.menu_mobile{
	display: none;
}

.menu_mobile2 {
	display: none;
}

.nav_btn1{
	border: none !important;
}

/*============================ Header ============================*/
.header{
	background: url('../img/header_back_img.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.hider_hide_img{
	display: none;
}

.header_block{
	display: flex;
	padding-top: 74px;
	padding-bottom: 74px;
	box-sizing: border-box;
	justify-content: space-between;
}

.header_img_block{
	width: 45%;
}

.header_text_block{
	display: flex;
	width: 49%;
	align-items: center;
}

.header_img_block img {
	width: 100%;
	height: 100%;
}

.header_text h1 {
	 font-style: normal;
     font-weight: 700;
     font-size: 50px;
     line-height: 105.5%;
     color: #2F2F2F;
     padding-bottom: 33px;
}

.header_text p {
	 font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 25px;
     color: #2F2F2F;
     padding-bottom: 33px;
}

.header_text button {
	background: #3A85F4;
    border-radius: 123px;
    border: none;
    cursor: pointer;
    padding: 14px 45px;
    font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #FFFFFF;
}

/*============================ Main ============================*/
main{
 background: #F9FBFF;
}
/*=========== Section1 ===========*/
.sec1_block{
	padding-top: 125px;
	padding-bottom: 145px;
}

.sec1_block_card{
	display: flex;
	width: 100%;
	margin-top: 54px;
justify-content: space-between;
}

.sec1_block_card_item{
  width: 25%;
	display: flex;
	justify-content: center;
}

.sec1_block_card_item p{
	 text-align: center;
	 padding-top: 33px;
	 padding-left: 15px;
	 padding-right: 15px;
}

/*.img2{
	width: 100%;
	height: 500px;
}*/

.slaq{
	width: 40%;
    height: 9px;
}

.slaq_block{
	width: 7%;
	height: 300px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*=========== Section2 ===========*/
.sec2_block{
	margin-bottom: 97px;
}

.section2_title{
	font-weight: bold !important;
	padding-bottom: 15px;
}

.sec2_paragraph{
	text-align: center;
	font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 224.19%;
  color: #464646;
}

.sec2_card_block{
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-between;
}

.sec2_card_block_item{
	width: 32%;
	margin-top: 40px;
	background: white;
	padding-top: 14px;
	padding-bottom: 26px;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
border-radius: 10px;
}

.sec2_card_block_item_text1_block{
	display: flex;
	gap: 10px;
	padding-bottom: 27px;
}

.sec2_card_block_item_text1_block p:nth-child(1){
	font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #BC9300;
  padding: 9px 15px;
  background: #FDFFE7;
  border-radius: 75px;
}

.sec2_card_block_item_text1_block p:nth-child(2){
	font-style: normal;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #00A880;
  background: #EBFFFA !important;
  padding: 9px 15px;
  background: #FDFFE7;
  border-radius: 75px;
}

.sec2_card_block_item_tex2{
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 105%;
		color: #2F2F2F;
		padding-bottom: 27px;
}

.sec2_card_block_item_tex3{
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
		color: #505050;
		padding-bottom: 10px;
}

.sec2_card_block_item_tex4{
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.005em;
		color: #2F2F2F;
		padding-bottom: 27px;
}

.sec2_card_block_item_tex2_block{
	display: flex;
	gap: 11px;
	align-items: center;
	margin-bottom: 63px;
}

.sec2_card_block_item_tex2_block p {
	font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #2F2F2F;
}

.sec2_card_block_item_tex3_block{
	display: flex;
	gap: 15px;
	padding-bottom: 15px;
	border-bottom:2px solid #CADCF8 ;
}

.sec2_card_block_item_tex3_block div, .texxxtt{
	display: flex;
	gap: 8px;
	align-items: center;
	background: #F3F3F3;
  border-radius: 75px;
	padding: 9px 15px;
}

.people_block{
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 14px;
	padding-top: 11px;
		border-bottom:2px solid #CADCF8 ;
}

.people_block img {
	border-radius: 50%;
}

.people_block h6{
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #2F2F2F;
	padding-bottom: 4px;
}

.people_block_text1 {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #2F2F2F;
		padding-bottom: 5px;
}

.btn_block{
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
}

.btn_block p{
	padding: 11px 38px;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #3A85F4;
  border-radius: 123px;
}

.btn_block button {
	border: none;
	border-radius: 50%;
}

/*============================ Footer ============================*/
.footer{
	 background: #262628;
}
.footer_block{
	padding:  44px 0;
   display: flex;
   justify-content: space-between;
}

.footer_rightSide{
	display: flex;
	gap: 33px;
}

.footer_leftSide {
   display: flex;
   gap: 67px;
}

.footer_leftSide p {
	 font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;
opacity: 0.5;
}

.footer_leftSide a{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
}

.hide3333333, .hide_block_footer1{
	display: none;
}

/*============================ Media ============================*/
@media(min-width:3840px){	
   .menu {
	   padding-left: 1300px !important;
	   padding-right: 1300px !important;
	   padding-top: 20px !important;
	   padding-bottom: 20px !important;
    }

    .logo{
    	display: none !important;
    }

    .sec_padding{
	   padding-left: 1138px;
	   padding-right: 1138px;
    }
}

.@media(min-width: 1800px){
  .sec_padding{
  	padding-left: 140px;
  	padding-right: 140px;
  }
}	

@media(max-width:1505px){
	.header_text h1 {
		font-size: 40px;
	}

	.header_text p {
		font-size: ;
	}

	.slaq_block {
    width: 7%;
    height: 220px !important;
  }
}

@media(max-width:1470px){
	.footer_leftSide {
    gap: 35px;
  }
}

@media(max-width:1375px){
  .sec1_block_card_item p {
	 	font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F2F2F;
   }
}

@media(max-width:1366px){
	.menu {
	   padding-left: 96px !important;
	   padding-right: 96px !important;
	}

	.sec1_block{
	   padding-top: 70px;
	   padding-bottom: 112px;
   }

   .sec2_block{
	  margin-bottom: 70px;
  }

	.menu ul {
	  display: flex;
	  gap: 35px;
     }

     .logo{
	   padding-right: 35px !important;
      }

      .menu ul li a{
      	font-size: 14px !important;
      }
      .header_text h1 {
		   font-size: 36px;
		   padding-bottom: 24px;
	    }

	    .header_text p {
		    font-size: 16px;
		    padding-bottom: 24px;
	    }

	 .sec_padding {
     padding-left: 157px;
     padding-right: 157px;
   }

   .footer_leftSide a {
   	  font-size: 14px;
   }
}

@media(max-width:1280px){
	.sec_padding {
    padding-left: 135px;
    padding-right: 135px;
  }
}

@media(max-width:1265px){
	.sec1_block_card_item p {
		font-size: 12px;
		padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
	}
}

@media(max-width:1220px){
  .sec_padding {
    padding-left: 126px;
    padding-right: 126px;
  }

  .footer_rightSide {
    gap: 15px;
  }
}

@media(max-width:1200px){
	.sec1_block_card_item {
    width: 20%;
  }

  .slaq_block {
    width: 7%;
    height: 170px !important;
  }
}

@media(max-width:1160px){
	.footer_leftSide {
    gap: 15px;
  }
}

@media(max-width:1090px){
  .sec_padding {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media(max-width:1080px){
  .menu ul {
    display: flex;
    gap: 20px;
   }
}

@media(max-width:1024px){
      .logo {
        padding-right: 10px !important;
      }

     .header_text h1 {
		   font-size: 30px;
		   padding-bottom: 28px;
	    }

	    .sec_padding{
	    	padding-left: 120px;
	    	padding-right: 120px;
	    }

	   .header_text p {
		    font-size: 14px;
		    padding-bottom: 28px;
	   }

	   .header_text button{
	   	font-size: 13px;
	   }

	   .sec1_block{
	     padding-top: 67px;
	     padding-bottom: 80px;
      }

      .hide22222, .die258{
      	display: none;
      }

      .hide3333333{
      	display: block;
      }

      .footer_block, .footer_rightSide{
      	flex-direction: column;
      }

      .hide_block_footer1{
      	 display: block;
      }

      .footer_leftSide {
      	width: 100%;
      	align-items: center;
      	justify-content: center;
      }

      .hide3333333{
      	display: flex;
      	flex-direction: column;
      	align-items: center;
      	justify-content: center;
      }

      .footer_leftSide, .footer_block{
         gap: 17px;
       }
 
        .footer_block{
        	 gap: 19px;
        }

        .footer_border{
        	border-bottom: 1px solid #343434;
        	padding-bottom: 19px;
        }

        .footer_border{
        	  justify-content: space-between;
        }

        .footer_leftSide a {
          font-size: 12px; 
        }

        .hide_block_footer1{
        	  display: flex;
        	  gap: 17px;
        }

       .sec2_block{
	       margin-bottom: 76px;
       }
}

@media(max-width:1015px){
.slaq_block {
    width: 9%;
    height: 170px !important;
   }

   .slaq_block {
    width: 9%;
    height: 150px !important;
   }

   .img2{
   	height: 200px;
   }
   
   .slaq_block {
    width: 9%;
    height: 212px !important;
   }
}

@media(max-width:992px){
	.menu_mobile{
		display: block;
	}

	.none, .menu_mobile2{
		display: none !important;
	}

	.menu_mobile1{
		display: block;
		display: flex;
		gap: 35px;
	}

    .menu_mobile1_item{
    	 display: flex;
    	 align-items: center;
    	 gap: 35px;
    }	
}

@media(max-width:900px){
  .sec_padding {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media(max-width:800px){
 .sec_padding {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media(max-width:768px){
	.menu {
	   padding-left: 55px !important;
 	   padding-right: 55px !important;
  }


       .sec2_block{
	       margin-bottom: 78px;
       }

  .sec1_block_card_item p {
    font-size: 11px;
  }

  .sec_padding{
	   padding-left: 44px;
	   padding-right: 44px;
	}


  .menu_mobile1{
		display: block;
		display: flex;
		gap: 33px;
	}

	.menu_mobile1_item {
		gap: 33px;
	}

	.header_text_block {
    display: flex;
    width: 51%;
  }

	.header_text h1 {
		 font-size: 28px;
		 padding-bottom: 22px;
	}

	.header_text p {
		 font-size: 14px;
		 padding-bottom: 22px;
	}

  .header_text button {
     font-size: 13px;
     padding: 11px 27px;
  }

  .sec1_block_card_item p {
    font-size: 11px;
  }

  .img2 {
    height: 170px;
  }

  .slaq_block {
    width: 9%;
    height: 175px !important;
  }
}

@media(max-width:750px){
	.header_img_block{
		display: flex;
		align-items: center;
		justify-content: center;
	}

  .header_img_block img {
    width: 100%;
    height: 80%;
   }
}

@media(max-width:650px){
	.menu_mobile1_item {
       gap: 11px;
    }

    .menu_mobile1 {
    	 gap: 11px;
    }

    .menu_righrSide button {
    	padding: 10px 13px;
    	font-size: 12px;
    }
}

@media(max-width:590px){
		.header_text h1 {
		   font-size: 26px;
	 }

	 .header_text p {
		   font-size: 14px;
		    line-height: 20px;
	 }

	 .header_img_block img {
      height: 70%;
    }
}

@media(max-width:555px){
	.footer_leftSide a {
    font-size: 10px;
  }

  .footer_leftSide p {
  	 font-size: 12px;
  }
}

@media(max-width:530px){
	  .menu_righrSide button {
		   font-size: 9px;
	  }

	  .menu {
       padding-left: 35px !important;
       padding-right: 35px !important;
    }

    .img2 {
       height: 140px;
    }

    .slaq_block {
       width: 9%;
       height: 145px !important;
     }
}

@media(max-width:490px){
   .sec_padding {
    padding-left: 35px;
    padding-right: 35px;
   }
}

@media(max-width:480px){
	.header_block {
    padding-top: 45px;
    padding-bottom: 45px;
  }

   .sec2_block{
	    margin-bottom: 78px;
    }

  .menu_mobile1_item a, .btn123 button{
	   display: none;
  }

  .slaq_block{
  	 display: none !important;
  }

	.block{
		 display: block !important;
	}

	.btn123{
		 display: flex !important;
		 gap: 35px !important;
	}

	.header{
		 position: relative;
	}

	.hider_hide_img {
    display: block;
    padding-top: 289px;
    padding-left: 190px;
    width: 100%;
    height: 100%;
  }


	.header_block{
		position: absolute;
		top: 0;
	}

	.header_img_block{
    display: none;
	}

	.header_text_block{
		width: 100%;
		padding-right: 45px;
		box-sizing: border-box;
	}

	.header{
		padding-right: 0 !important;
	}

	.sec1_block{
	   padding-top: 52px;
	   padding-bottom: 94px;
  }

  .sec_padding {
      padding-left: 44px;
      padding-right: 44px;
   }

   .footer_leftSide {
   	justify-content: space-between;
   }

   .footer_block{
   	   flex-direction: row-reverse;
   }

   .footer_border{
   	   flex-direction: column;
   	   align-items: flex-end;
   }

   .footer_rightSide{
   	  justify-content: space-between;
   	  flex-direction: column-reverse;
   	  align-items: flex-start;
   }

   .hide3333333{
   	  justify-content: flex-start;
   	  align-items: flex-start;
   }

   .footer_border{
   	  border: none;
   	  padding-bottom: 0;
   }

   .footer_leftSide a {
    font-size: 12px;
   }

   .footer_rightSide {
      width: 65%;
   }
}

@media(max-width:460px){
	.footer_rightSide {
    width: 70%;
  }
}

@media(max-width:450px){
  .hider_hide_img  {
  	 padding-top: 314px;
  }

  .hide_block_footer1 {
    display: flex;
    gap: 17px;
  }

  .footer_rightSide {
    width: 73%;
  }
}

@media(max-width:438px){
	.footer_rightSide {
    width: 78%;
  }

  .footer_leftSide a {
    font-size: 10px;
   }
}

@media(max-width:430px){
  .header_text p {
    font-size: 12px;
    line-height: 20px;
  }

  .hider_hide_img {
    padding-top: 321px;
    padding-left: 141px;
  }
}

@media(max-width:425px){
    .footer_rightSide {
       width: 80%;
    }
}

@media(max-width:410px){
  .hider_hide_img {
    padding-top: 350px;
   
  }
}

@media(max-width:400px){
  .menu_mobile1 {
    gap: 0px;
  }

  .menu {
    padding-left: 15px !important;
    padding-right: 15px !important;
   }
}

@media(max-width:390px){
  .hider_hide_img {
    padding-top: 390px;
    padding-left: 85px;
  }
}

@media(max-width:388px){
   .footer_rightSide {
    width: 66%;
   }
}

@media(max-width:372px){
	.hide_block_footer1 {
    display: flex;
    gap: 14px;
  }

  .hide_block_footer1 img {
  	width: 30px;
  	height: 15px;
  }

  .footer_rightSide {
    width: 56%;
  }
}

@media(max-width:354px){
	.footer_rightSide {
    width: 50%;
  }
}

@media(max-width:350px){
	.menu {
    padding-left: 5px !important;
    padding-right: 5px !important;
  } 

  .footer_leftSide p {
    font-size: 6px;
    line-height: 14px;
  }
}

@media(max-width:345px){
	.footer_rightSide {
    width: 40%;
  }
}

@media(max-width:330px){
	.footer_rightSide {
    width: 25%;
  }

  .hide_block_footer1 {
    display: flex;
    gap: 10px;
   }
}

@media(max-width:326px){
  .sec_padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(max-width:320px){
	  .sec1_block{
	     padding-top: 51px;
	     padding-bottom: 70px;
     }

     .sec_padding {
       padding-left: 20px;
       padding-right: 20px;
  }

  .hider_hide_img {
    padding-top: 390px;
    padding-left: 34px;
  }
}