*{
	margin: 0;
	padding: 0;
}

body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h3{
	font-size: 24px;
}

/*===================== Navbar =====================*/
.menu_container {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	letter-spacing: 4px;
	position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index:99999;
}

.menu_container li {
 	list-style-type: none;
}

.menuRight a, .menuLeft a{
	text-decoration: none;
	color: black;
	display: block;
	padding: 8px 16px;
}

.menu_container a:hover{
	color: #000;
	background-color: #ccc;
}

.menuRight{
	display: flex;
}

/*===================== Header =====================*/
header{
	max-width: 1500px;
	margin-left: auto;
    margin-right: auto;
    position: relative;
    letter-spacing: 4px;
}

header img {
	max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.headerText_block{
    margin-top: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.headerText_block h1{
	color: #fff;
    font-size: 36px;
}

.text_block_text1{
    background-color: #000;
    padding: 8px 16px;
    opacity: 0.75;
}

.text_block_text2{
	color: #f1f1f1;
}

/*===================== Main =====================*/
.main_container{
  max-width: 1530px;
  padding: 8px 16px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* Project Section */
.project_block_title{
	padding: 32px 16px;
}

.project_title{
	border-color: #f1f1f1f1 !important;
	padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
}

.project_img_block1, .project_img_block2{
	padding: 0 8px;
	display: flex;
}

.project_img_block1 .project_img_block_item, .project_img_block2 .project_img_block_item {
	width: 24.99999%;
	padding: 0 8px;
	box-sizing: border-box;
	margin-bottom: 16px;
}

.project_img_block1  .project_img_block_info, .project_img_block2 .project_img_block_info{
	position: relative;
} 

.houseTitle{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
    background-color: #000;
    padding: 8px 16px;
}

.house_img{
	width: 100%;
	vertical-align: middle;
}

/*About Section*/
.about_title_block{
	padding: 32px 16px;
}

.about_title{
	border-color: #f1f1f1!important;
	padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
}

.about_title_block p {
	margin: 15px 0;
}

.about_people_block{
    filter: grayscale(75%);
    padding: 0 8px;
    display: flex;
}

.about_people_block_item{
	width: 24.99999%;
	padding: 0 8px;
	box-sizing: border-box;
	margin-bottom: 16px;
}

.about_people_block_item img {
	width: 100%;
	vertical-align: middle;
}

.about_people_block_item p {
	margin: 15px 0;
}
.people_block_item_text1 {
	opacity: 0.60;
}

.about_people_block_item p button{
	color: #000;
    background-color: #f1f1f1;
    width: 100%;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 15px;
    font-family: Verdana,sans-serif;
    box-sizing: border-box;
}

.about_people_block_item p button:hover{
	color: #000;
    background-color: #ccc;
}

/*Contact Section*/
.contact_block{
   padding: 32px 16px;
}

.contact_title{
	padding: 16px 0;
	border-color: #f1f1f1!important;
	border-bottom: 1px solid #ccc;
}

.contact_text{
	margin: 15px 0;
}

.input_style{
	border: 1px solid #ccc;
	width: 100%;
	padding: 8px;
    font: inherit;
    display: block;
    box-sizing: border-box;
}

.mTop_Bottom{
    margin: 16px 0;
}

.form_btn{
	color: #fff;
    background-color: #000;
    margin: 16px 0;
    border: none;
    padding: 8px 16px;
    font: inherit;
    cursor: pointer;
}

.form_btn:hover{
	color: #000;
    background-color: #ccc;
}

/*Image of map Section*/
.img_block{
	margin: 0.1rem 16px;
}

.img_block img{
  width: 100%;
  vertical-align: middle;
  height: auto;
}

/*===================== Footer =====================*/
.footer{
    background-color: #000!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
     text-align: center!important;
}

.footer p {
	 color: #fff;
	 margin: 15px 0;
}

.footer p a {
	color: inherit;
}

.footer p a:hover{
	 color: #4CAF50;
}