*{
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0 !important;
	font-family: 'Roboto', sans-serif !important;
}

body {
	font-family: 'Roboto', sans-serif !important;
	background: #F6F6F6 !important;
}

/*=========================== Global Style ===========================*/
.sec_padding {
	padding-left: 328px !important;
	padding-right: 328px !important;
}

.sec_title {
	font-style: normal;
	font-weight:bolder !important;
	font-size: 28px;
	line-height: 124%;
	color: #202225;
}

/*=========================== Header Top ===========================*/
.header_top {
	background: #2B495A;
	display: flex;
	gap: 105px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.header_top p {
	  font-style: normal !important;
	  font-weight: 400 !important;
	  font-size: 14px;
	  line-height: 136%;
	  color: #FFFFFF;
}

.header_top_rightSide {
	display: flex;
}

.header_top_rightSide_item {
		display: flex;
		gap: 17px;
		padding-right: 10px;
		padding-left: 10px;
}

.header_top_rightSide_item_p {
		  color: #24A186 !important;
		  display: flex;
		  align-items: center;
		  gap: 6px;
}

.color {
	color: #F95929 !important;
}

.border_right {
	border-right: 1px solid rgba(150, 162, 175, 0.6);
}

/*=========================== Navbar ===========================*/
.menu_list li a {
	transition: 0.3s !important;
	font-style: normal;
	font-weight: 800 !important;
	font-size: 18px;
	line-height: 136%;
	color: #000000;
	padding: 5px 12px !important;
}

.menu_list li a:hover{
    text-decoration: none !important;
    color: white !important;
    background: #24A186 !important;
    border-radius: 5px;
}

.manu {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.menu_rightSide {
	justify-content: space-between;
	align-items: center;
	width: 26%;
}

.menu_rightSide_search_end_karzinaBlock {
	display: flex;
	align-items: center;
	gap: 13px;
}

.nav_btn {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	background: #24A186;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	transition: 0.3s;
}

.nav_btn:hover{
	background: #2B495A;
}

.menu_rightSide_search_end_karzinaBlock a{
 transition: 0.3s;
}

.menu_rightSide_search_end_karzinaBlock a:hover{
	transform: scale(1.3);
}

.logo_mobileNav_img, .mobile_block{
	display: none;
}

/*=========================== Header ===========================*/
.header_block {
	position: relative;
}

.header_text_end_btn_block {
	position: absolute;
	top: 133px;
	left: 51px;
	width: 55%;
}

.header_text_end_btn_block h1 {
	font-style: normal;
	font-weight: 900;
	font-size: 52px;
	line-height: 100%;
	color: #000000;
	padding-bottom: 12px;
}

.header_text_end_btn_block p {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 132%;
	color: #000000;
	opacity: 0.6;
	padding-right: 50px;
	padding-bottom: 48px;
}

.header_btn_block {
	display: flex;
	gap: 18px;
}

.header_btn_block_btn1, .header_btn_block_btn2{
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	padding: 12px 18px;
	cursor: pointer;
	border: none;
	border-radius: 50px;
	box-sizing: border-box;
	transition: 0.5s;
}

.header_btn_block_btn1 {
	color: white;
	background: #24A186;
}

.header_btn_block_btn1:hover{
	background: transparent;
	border: 1.5px solid #24A186;
	color: #24A186;
	transform: scale(1.1);
}

.header_btn_block_btn2 {
	color: #24A186;
	background: transparent;
	border: 1.5px solid #24A186;
	display: flex;
	align-items: center;
	gap: 10px;
}

.header_btn_block_btn2:hover{
	background: #24A186;
	color: white;
	transform: scale(1.1);
}

.header_mobile {
	display: none;
}

/*=========================== Main ===========================*/
/*======= Section 1 ======*/
.section1 {
	padding-top: 40px;
	padding-bottom: 92px;
}

.sec1_title {
	text-align: center;
}

.sec1_block {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.sec1_block_item {
	width: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	gap: 27px;
	padding: 20px 0;
	box-sizing: border-box;
	border: 1px solid rgba(101, 97, 91, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

.sec1_block_item h6{
	font-style: normal;
	font-weight: 600 !important;
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	color: #2B495A;
}

.sec1_block_item:hover{
  border: 1px solid rgba(101, 97, 91, 0.3);
  filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.14));
  transform: scale(1.1);
}

/*======= Section 2 ======*/
.section2 {
  padding-bottom: 92px;
}

.sec2_block {
    display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.sec2_block_item {
	width: 23.5%;
	background: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 31px 22px;
	border: 1px solid rgba(101, 97, 91, 0.3);
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}

.sec2_block_item_p1{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 136%;
	color: #202225;
	padding-top: 35px;
	padding-bottom: 22px;
}

.sec2_block_item_div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.sec2_block_item_div p{
	text-align: center;
}

.sec2_p1 {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 136%;
	padding-bottom: 4px;
	color: #202225;
}

.sec2_p2{
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 136%;
	color: #202225;
	padding-bottom: 12px;
}

.sec2_block_item_div button{
	padding: 8px 24px;
	border-radius: 4px;
	background: white;
	cursor: pointer;
	border: none;
	transition: 0.5s;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 136%;
	transition: 0.3s;
}

.sec2_block_item_div_btn1 {
	color: #24A186;
	border: 1px solid #24A186 !important;
}

.sec2_block_item_div_btn1:hover{
	background:  #24A186;
	color: white;
}

.sec2_block_item_div_btn2{
	border: 1px solid #D69F33 !important;
	color: #D69F33;
}

.sec2_block_item_div_btn2:hover{
	background:  #D69F33;
	color: white;
}

.sec2_block_item:hover{
   border: 1px solid rgba(101, 97, 91, 0.3);
   filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.14));
}

.mobile_block_2 {
	display: none;
}

.slider_mobile {
	display: none !important;
}

/*======= Section 3 ======*/
.section3 {
	padding-bottom: 92px;
}

.sec3_title {
	text-align: center;
}

.sec3_block {
	display: flex;
	justify-content: space-between;
}

.sec3_block_item {
	background: white;
	border-radius: 5px;
	width: 24%;
	margin-top: 32px;
	border: 1px solid rgba(101, 97, 91, 0.3);
    border-radius: 8px;
}

.sec3_block_item_imgBlock img {
	width: 100%;
	height: 100%;
}

.sec3_block_item_textBlock{
	padding-left: 16px;
	padding-right: 16px;
}

.sec3_block_item_textBlock div {
	height: 60px;
}

.sec3_block_item_textBlock p{
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #202225;
	padding-top: 16px;
	padding-bottom: 24px;
}

.sec3_block_item_textBlock a {
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	display: block;
	color: #24A186;
	padding-bottom: 16px;
}

.btn_sec3 {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.btn_sec3 button{
	 background: #FFFFFF;
	border: 1px solid rgba(101, 97, 91, 0.3);
	border-radius: 4px;
	background: white;
	padding: 12px 18px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	cursor: pointer;

}

.sec3_slider {
	display: none;
}

/*======= Section 4 ======*/
.section4 {
	padding-bottom: 92px;
}

.sec4_block {
	position: relative;
}

.sec4_img_back {
	width: 100%;
	height: 100%;
	border-radius: 8px !important;
}

.sec4_textBtn_block {
	position: absolute;
	top: 81px;
	left: 92px;
	width: 30%;
}

.sec4_textBtn_block h3 {
	font-style: normal;
	font-weight: 800;
	font-size: 32px;
	line-height: 124%;
	color: #FFFFFF;
	padding-bottom: 18px;
}

.sec4_textBtn_block p {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 136%;
	color: #FFFFFF;
	padding-bottom: 32px;
}

.sec4_textBtn_block button{
	background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 12px 18px;
    border: none;
    font-style: normal;
	font-weight: 900 !important;
	font-size: 18px;
	line-height: 132%;
	color: #000000;
	cursor: pointer;
}

.sec4_img_mobile, .mobile_img24{
	display: none;
}

/*======= Section 5 ======*/
.section5 {
	padding-bottom: 92px;
}

.sec5_title{
	text-align: center;
	padding-bottom: 32px;
}

.sec5_block {
	display: flex;
	justify-content: space-between;
}

.sec5_img_back {
	width: 100%;
	height: 100%;
}

.sec5_block_item {
	width: 23%;
	height: 320px;
	position: relative;
}

.sec5_block_item_textBlock {
	position: absolute;
	top: 0;
	padding: 40px  24px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.sec5_block_item_textBlock h6 {
	font-style: normal;
	font-weight: 800 !important;
	font-size: 28px;
	line-height: 25px;
	color: #FFFFFF;
	padding-bottom: 17px;
}

.sec5_p1{
	font-style: normal;
	font-weight: 600 !important;
	font-size: 20px;
	line-height: 136%;
	color: #FFFFFF;
	padding-bottom: 4px;
}

.sec5_p2 {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 136%;
	color: #FFFFFF;
}

/*======= Section 7 ======*/
.section7 {
	padding-bottom: 92px;
}

.sec7_title {
    text-align: center;
}

.sec7_block {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.sec7_blockItem {
	width: 32%;
	background: white;
	padding: 24px 24px 40px 24px;
}

.sec7_blockItem_title {
	font-style: normal;
	font-weight: 700 !important;
	font-size: 20px;
	line-height: 124%;
	color: #000000;
	padding-top: 24px;
	padding-bottom: 8px;
}

.sec7_blockItem_p {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 136%;
	color: rgba(32, 34, 37, 0.6);
}

/*======= Section 8 ======*/
.section8 {
	padding-bottom: 92px;
}

/*======= Section 9 ======*/
.section9 {
	padding-bottom: 92px;
}

.sec9_title {
	text-align: center;
	padding-bottom: 32px;
}

.sec9_block {
	display: flex;
	justify-content: space-between;
}

.sec9_block_item {
	width: 23.5%;
}

.sec9_block_item_img {
	width: 100% ;
}

.sec9_block_item_title {
	font-style: normal;
	font-weight: bold !important;
	font-size: 18px;
	line-height: 136%;
	color: #202225;
	padding-top: 15px;
	padding-bottom: 4px;
}

.sec9_block_item_p1 {
	font-style: normal;
	font-weight: 500 !important;
	font-size: 16px;
	line-height: 136%;
	color: #202225;
	padding-bottom: 12px;
}

.sec9_block_item_p2 {
	font-style: normal;
	font-weight: 500 !important;
	font-size: 14px;
	line-height: 136%;
	color: rgba(32, 34, 37, 0.6);
}

/*======= Section 10 ======*/
.section10 {
	padding-bottom: 64px;
}

.sec10_title {
	padding-bottom: 18px;
}

.sec10_p1 {
	font-style: normal;
	font-weight: 600 !important;
	font-size: 18px;
	line-height: 136%;
	color: rgba(32, 34, 37, 0.6);
	padding-bottom: 20px;
}

.section10 a {
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom:  1px solid rgba(32, 34, 37, 0.6);
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	color: #36393F;
}

/*======= Mobile_section ======*/
 .mobile_section {
 	display: none;
 }

 /*=========================== Footer ===========================*/
 .footer {
  background: #202225;
  width: 100%;
  height: 250px;
 }

/*=========================== Media ===========================*/
@media(max-width:1885px){
  .sec4_textBtn_block {
  	width: 40%;
  }

  .sec4_textBtn_block {
    top: 50px;
    left: 55px;
  }
}

@media(max-width:1820px){
	.header_top p {
		font-size: 12px;
	}

	.menu_list li a {
		font-size: 15px;
		padding: 5px 10px !important;
	}

	.sec5_p2 {
		font-size: 14px;
	}

	.sec5_p1 {
		font-size: 18px;
	}
}

@media(max-width:1775px){

	.nav_btn {
		font-size: 13px;
	}
}

@media(max-width:1764px){
	.sec_padding {
       padding-left: 300px !important;
        padding-right: 300px !important;
    }
}

@media(max-width:1710px){
	.sec_padding {
    padding-left: 290px !important;
    padding-right: 290px !important;
   }
   
   .header_text_end_btn_block h1 {
   	font-size: 48px;
   }
}

@media(max-width:1688px){
	.sec7_blockItem_title {
		font-size: 17px;
	}

	.sec7_blockItem_p {
		font-size: 14px;
	}

	.sec_padding {
    padding-left: 250px !important;
    padding-right: 250px !important;
    }
}

@media(max-width:1630px){
	.header_top {
		gap: 70px;
	}

	.menu_rightSide {
		width: 29%;
	}
	.menu_list li a {
       font-size: 12px;
    }

    .header_text_end_btn_block h1 {
       font-size: 44px;
    }

    .sec2_block_item_p1 {
        font-size: 16px;
     }

     .sec2_block_item {
         padding: 15px 10px;
     }
}

@media(max-width:1560px){
	.sec_padding {
       padding-left: 210px !important;
        padding-right: 210px !important;
    }
}

@media(max-width:1543px){
	.header_text_end_btn_block {
		width: 61%;
	}
}

@media(max-width:1540px){
	.header_top {
       gap: 40px;
    }

    .menu_rightSide_search_end_karzinaBlock {
    	gap: 7px;
    }

    .header_top_rightSide_item {
    	gap: 10px;
    }

    .sec2_block_item_p1 {
       font-size: 14px;
    }

    .sec2_block_item_div button {
    padding: 8px 19px;
}
}

@media(max-width:1500px){
	.sec_padding {
       padding-left: 220px !important;
       padding-right: 220px !important;
    }

    .header_text_end_btn_block {
        width: 55%;
     }

     .sec9_block_item_title {
     	font-size: 16px;
     }

     .sec9_block_item_p1 {
       font-size: 13px;
     }

     .sec9_block_item {
       width: 23%;
     }
}

@media(max-width:1423px){
	.sec3_block_item_textBlock p {
		font-size: 13px;
	}

	 .sec3_block_item_textBlock div {
       height: 66px;
    }

    .sec3_block_item_textBlock a {
    	font-size: 11px;
    }

    .sec4_textBtn_block p {
    	 padding-bottom: 19px;
    }
}

@media(max-width:1403px){
	.header_text_end_btn_block {
       width: 60%;
    }

    .sec7_blockItem_title {
       font-size: 16px;
    }

    .sec7_blockItem_p {
      font-size: 12px;
      line-height: 165%;
    }
}

@media(max-width:1375px){
 .logo_png {
 	width: 20% !important;
 	margin: 0 !important;
 }

 .header_text_end_btn_block {
    width: 54%;
  }	

 .sec_padding {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }

  .menu_rightSide_search_end_karzinaBlock {
    gap: 9px;
  }

  .menu_rightSide {
    width: 27%;
  }
}

@media(max-width:1293px){
	.sec5_block_item_textBlock {
         padding: 30px 12px;
     }
}

@media(max-width:1280px){
	.menu_rightSide {
         width: 28%;
    }

    .header_text_end_btn_block {
       width: 60%;
    }

    .header_img_back{
    	height: 550px;
    	width: 100%;
    }

     .sec4_textBtn_block p {
  	     font-size: 16px;
     }
}

@media(max-width:1265px){
   .sec_padding {
    padding-left: 125px !important;
    padding-right: 125px !important;
   }
}

@media(max-width:1230px){
	.menu {
		display: flex;
		justify-content: space-between;
		margin: 0 !important;
	}

	.menu ul {
		margin:  0 !important;
	}

	.menu_rightSide {
        width: 29%;
     }
}

@media(max-width:1215px){
  .sec7_blockItem {

    padding: 24px 15px 40px 15px;
  }
}

@media(max-width:1200px){
	.nav_btn {
       font-size: 12px;
    }
   
    .btn152222222 {
    	width: 80%;
    }

    .menu_rightSide {
       width: 28%;
     }

     .sec_padding {
       padding-left: 90px !important;
        padding-right: 90px !important;
     }

     .btn152222222 {
        width: 90%;
     }

     .menu_rightSide {
       width: 26%;
     }

     .header_text_end_btn_block {
         width: 57%;
     }
}

@media(max-width:1150px){
	.sec_padding {
       padding-left: 60px !important;
       padding-right: 60px !important;
    }
}

@media(max-width:1070px){
    .sec_padding {
       padding-left: 40px !important;
       padding-right: 40px !important;
    }
}

@media(max-width:1050px){
	.menu_rightSide {
        width: 27%;
     }
}

@media(max-width:1010px){
	.header_text_end_btn_block {
        width: 63%;
    }

    .sec4_img_back {
    	 height: 315px;
    }
}

@media(max-width:992px){
	.header_top p {
       font-size: 10px;
    }

    .burger{
    	border: none !important;
    }
}

@media(max-width:950px){
	.sec2_block_item_div button {
       padding: 6px 14px;
       font-size: 13px;
    }

    .sec7_block {
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: center;
    	gap: 25px;
    }

    .sec7_blockItem {
    width: 44%;
        padding: 24px 24px 40px 25px;
        box-sizing: border-box;
    }

    .sec10_p1 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
   }

    .sec5_block {
    	 flex-wrap: wrap;
    	 justify-content: center;
         gap: 35px;
    }

    .sec5_block_item {
    	width: 35%;
    }

    .sec5_mTop {
    	margin-top: 25px;
    }

    .sec2_p2 {
    	font-size: 15px;
    }

    .sec2_block {
		flex-wrap: wrap;
	}

	.sec2_block_item {
		width: 48%;
	}

	.sec2_block_item_div {
		width: 52%;
	}

	.sec2_block_item_p1 {
       font-size: 17px;
       text-align: center;
    }

    .m-top5 {
    	margin-top: 25px;
    }

    .sec3_block {
    	flex-wrap: wrap;
    }

    .sec3_block_item {
    	 width: 48%;
    }

    .sec3_block_item_textBlock p {
       font-size: 16px;
    }

    .sec3_block_item_textBlock a {
       font-size: 13px;
    }

    .sec9_block {
    	flex-wrap: wrap;
    }

    .sec9_block_item {
    	width: 48%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;    
    }

    .sec9_block_item_img {
    	width: 75%;
    }

    .sec9_mTop {
    	margin-top: 35px;
    }

    .sec9_block_item_title, .sec9_block_item_p1, .sec9_block_item_p2{
    	text-align: center;
    }
}

@media(max-width: 923px){
	.header_text_end_btn_block h1 {
    font-size: 40px;
    }
}

@media(max-width:880px){
	.header_text_end_btn_block p {
		font-size: 15px;
	}
}

@media(max-width:874px){
	.sec4_textBtn_block h3 {
		font-size: 26px;
	}

	.sec4_textBtn_block p {
       font-size: 15px;
    }
}

@media(max-width:850px){
	.header_top {
         gap: 20px;
     }

     .header_top_rightSide_item {
        gap: 5px;
     }

     .header_top_rightSide_item {
	    padding-right: 5px;
	    padding-left: 5px;
     }
}

@media(max-width:848px){
	.header_text_end_btn_block h1 {
       font-size: 37px;
     }

     .sec2_block_item_div {
       width: 57%;
     }

     .sec2_block_item_div {
        width: 65%;
      }
}


@media(max-width:774px){
	.header_text_end_btn_block h1 {
       font-size: 36px;
    }  
}

@media(max-width:756px){
  .header_text_end_btn_block h1 {
    font-size: 33px;
  }

  .header_text_end_btn_block p {
    font-size: 13px;
        padding-bottom: 30px;
  }

  .header_btn_block_btn1, .header_btn_block_btn2 {
  	font-size: 13px;
  	padding: 8px 12px;
  }

  .header_img_back {
    height: 487px;
   }

   .sec1_block_item h6 {
   	font-size: 20px;
   }

   .sec1_block_item img {
   	width: 85%;
   	height: 75%;
   }
}

@media(max-width:750px){
	.header_top {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.header_top p {
      font-size: 12px;
    }
}

@media(max-width:728px){
	 .header_top p {
      font-size: 10px;
    }
}

@media(max-width:725px){
	.sec4_textBtn_block {
       top: 30px;
        left: 27px;
    }

    .sec4_textBtn_block {
       width: 45%;
    }
}

@media(max-width:698px){
	.header_text_end_btn_block h1 {
      font-size: 30px;
    }

    .sec_title {
    	font-size: 26px ;
    }
}

@media(max-width:680px){
	.header_top_rightSide {
    display: flex;
    justify-content: center;
    width: 100%; 
  }

  .header_top_rightSide_item {
    padding-right: 25px;
    padding-left: 25px;
    flex-direction: column;
    align-items: center;
  }

  .header_top p {
    font-size: 12px;
  }

  .sec2_block_item_div {
    width: 75%;
  }

  .sec5_block_item {
    	width:45%;
   }
}

@media(max-width:660px){
	.sec4_textBtn_block {
       width: 45%;
           top: 60px;
    left: 22px;

    }

    .sec4_textBtn_block h3 {
         font-size: 23px;
     }

     .sec4_textBtn_block p {
       font-size: 13px;
     }

     .sec4_textBtn_block button {
     	font-size: 14px;
     }
}

@media(max-width:643px){
	.header_text_end_btn_block {
       width: 69%;
    }

    .header_text_end_btn_block {
    	top: 95px;
    	left: 30px;
    }

    .header_text_end_btn_block p {
      padding-right: 15px;
    }

    .header_img_back {
       height: 435px;
     }
}

@media(max-width:611px){
	.sec_padding {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
}

@media(max-width:593px){
	.header_text_end_btn_block h1 {
       font-size: 29px;
    }

    .sec_title {
        font-size: 24px;
     }
}

@media(max-width:576px){
	.mobile_section{
		display: block;
	}

  .header_text_end_btn_block h1 {
    font-size: 28px;
   }

   .section9 {
   	display: none;
   }

   .section10 {
   	display: none;
   }

    .sec7_block {
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	gap: 25px;
    }

    .sec7_blockItem {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .sec7_blockItem_title, .sec7_blockItem_p {
    	text-align: center;
    }

   .sec5_p12 {
   	font-style: normal !important;
	font-weight: 900 !important;
	font-size: 18px !important;
	line-height: 136% !important;
	color: #65615B !important;

   }

   .mobile_img24 {
   	display: block;
   }

   .sec5_slider_item_block {
   	width: 60% !important;
   }

   .sec5_block {
   	display: none;
   }

   .sec5_slider_item_block {
    width: 55% !important;
    height: 280px;
    border-radius: 8px !important;
    }

   .sec5_slider_item {
   	width: 100%;
   }

   .sec4_textBtn_block {
   	display: flex;
   	justify-content: space-around;
   	align-items: center;
   	width: 100% !important;
   	left:  0;
   }

   .sec4_textBtn_block div {
   	 width: 60%;
   }

   .sec4_img_mobile {
   	display: block;
   	width: 100%;
   	height: 270px;
   }

   .sec4_textBtn_block {
    width: 65%;
    top: 28px;
   }

   .sec3_img_hide {
   	display: none;
   }

   .section3  {
   	padding-left: 16px  !important;
   	padding-right: 0 !important;
   }

   .sec3_title {
   	padding-bottom: 20px;
   }

   .slider_item2 {
   	width: 80% !important;
   }

   .slider_sec3_img_block {
   	width: 100% !important;
   }

   .sec3_slider_img{
   	width: 100% !important;
   	height: 100% !important;
   	 image-rendering: smooth !important;
   }

   .sec3_slide_block {
   	width: 100% !important;
   	height: 100% !important;
   }

   .sec3_slide_block {
    border: 1px solid rgba(101, 97, 91, 0.3);
    border-radius: 8px;
    padding: 0 !important;
   }

   .sec3_slider {
   	margin-top: 20px !important;
   }

   .sec3_item_title1 {
   	text-align: center !important;
   	font-style: normal !important;
	font-weight: 700 !important;
	font-size: 16px !important;
	line-height: 20px !important;
	color: #202225 !important;
	padding-top: 12px;
	padding-bottom: 8px;
   }

   .sec3_paragraph {
   	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 13px !important;
	line-height: 16px !important;
	display: block !important;
	text-align: center !important;
	color: #24A186 !important;
	padding-bottom: 20px;
   }

   .div120 {
   	height: 250px;
   }

   .sec3_block, .btn_sec3{
   	display: none;
   }

   .slider_mobile , .sec3_slider{
	display: block !important;
   }

  
   .sec2_slider_img {
    height: 145px;
   }

   .slider_item_text_block h6 {
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 136%;
		color: #202225;
		padding-top: 25px;
		padding-bottom: 12px;
   }

   .title_div {
   	height: 100px;
   }

   .slider_item_text_block div{
   	display: flex;
   	justify-content: space-between;
   	padding-bottom: 12px;
   }

   .slider_item_text_block div p:nth-child(1){
	   	font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 136%;
		color: #24A186;
   }

    .slider_item_text_block div p:nth-child(2){
	    font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 136%;
		text-decoration-line: line-through;
		color: #65615B;
   }

   .slider_item_text_block button{
   	 width: 100%;
   	 box-sizing: border-box;
   	 cursor: pointer;
   	 background: #24A186;
	border: 1px solid #24A186;
	border-radius: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 136%;
	text-align: center;
	color: #FFFFFF;
   }

   .slider_p1 {
		font-size: 18px !important;
		color: #65615B !important;
   }

   .slider_item {
    width: 55% !important;
    }

    .sec2_title {
    	padding-bottom: 20px;
    }

    .slider_item_block {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	padding-top: 30px;
    	padding-bottom: 30px;
    	background: url(image.png);
    	padding-left: 14px;
    	padding-right: 14px;
        border-radius: 8px 8px 0px 0px;
    }

    .uk-card-body {
    	padding:  0 !important;
    }
   
   .sec2_block {
   	display: none;
   }

   .section2 {
   	padding-right: 0 !important;
   	padding-left: 16px !important;
   }

   .uk-slider-container-offset {
   	 padding: 0 !important;
   	 margin: 0 !important;
   }

   .mobile_block_2 {
   	  display: block;
   	  background: white;
   }

   .mobile_block_2_inputBlock{
   	display: flex;
    align-items: center;
   }

   .mobile_block_2_p_input {
	   	width: 100%;
	   	cursor: pointer;
	   	background: #F6F6F6;
		border: 1px solid rgba(101, 97, 91, 0.18);
		border-radius: 4px;
		padding: 12px;
		box-sizing: border-box;
		font-style: normal;
		font-weight: 500 !important;
		font-size: 14px;
		line-height: 100%;
		color: #999999;
		position: relative;
   }

   .mobile_block_2_inputBlock button {
   	border: none;
   	background: transparent;
   	cursor: pointer !important;
   	position: absolute;
   	right: 28px;
   }

   .mobile_block_2_p {
   	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	color: #000000;
	padding: 12px 0;
   }

   .navbar-toggler {
   	padding:  0 !important;
   }

   .nav {
   	display: flex;
   	align-items: center;
   }

   .manu {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
   }

  .nav {
	padding-top: 18px !important;
	padding-bottom: 14px !important;
  }

   .manu {
   	 width: 77% !important;
   }

   .mobile_block {
   	  width: 23% !important;
   	  align-items: center !important;
   	  display: flex !important;
   	  justify-content: space-between !important;
   }

   .sec1_block_item h6 {
      font-size: 12px;
    }

    .sec_padding {
       padding-left: 16px ;
       padding-right: 16px ;
    }

    .header_mobile {
	   display: block;
    } 

    .header_mobile img {
    	width: 100%;
    	height: 100%;
    }

    .header, .header_top{
    	display: none;
    }

    .manu {
    	flex-direction: row-reverse !important;
    	justify-content: flex-end !important;
    	align-items: center !important;
    	gap: 16px;
    }

    .nav {
    	background: white !important;
    }

    .logo_mobileNav_img, .mobile_block{
    	display: block;
    }

    .logo_png {
    	display: none;
    }
}

@media(max-width:470px){
	.sec5_slider_item_block {
    width: 65% !important;
    height: 300px;
    }
}

@media(max-width:440px){
	.sec_title {
    font-size: 20px;
   }

   .manu {
   	 width: 75% !important;
   }

   .mobile_block {
    width: 25% !important;
   }

   .sec3_slider_img {
   	 height: 160px !important;
   }
}

@media(max-width:431px){
	.sec4_textBtn_block div {
        width: 66%;
    }
}

@media(max-width:400px){
	.manu {
        width:70% !important;
    }

    .mobile_block {
       width: 30% !important;
    }
}

@media(max-width:396px){
	.sec4_textBtn_block h3 {
       font-size: 20px;
       padding-bottom: 10px;
    }
}

@media(max-width:375px){
   .title_div {
   	  height: 125px;
   }

   .sec5_slider_item_block {
    width: 75% !important;
    height: 320px;
   }
}

@media(max-width:365px){
	.sec4_textBtn_block p {
       font-size: 12px;
    }

    .sec4_textBtn_block h3 {
       font-size: 18px;
     }

     .sec4_img_mobile {
     	height: 245px;
     }
}

@media(max-width:324px){
	.sec4_textBtn_block p {
       font-size: 11px;
    }

    .sec4_textBtn_block h3 {
       font-size: 16px;
    }
}

@media(max-width:320px){
	.sec_title {
    font-size: 18px;
   }

   .sec5_slider_item_block {
    width: 85% !important;
   }

   .manu {
        width:65% !important;
    }

    .mobile_block {
       width: 35% !important;
    }

    .slider_item {
       width: 62% !important; 
    }
}

@media(max-width:291px){
	.sec4_textBtn_block h3 {
        font-size: 15px;
     }
}

@media(max-width:290px){
	.manu {
        width:60% !important;
    }

    .mobile_block {
       width: 40% !important;
    }

    .sec1_block_item h6 {
      font-size: 11px;
    }
}

