*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none !important;
}

a, p{
	margin: 0 !important;
}

/*================================ Navbar ================================*/
.navBar{
	background-color: #FF9F00 ;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
}

.navbar_logo{
	padding-left: 43px;
}

.navbar_logo img {
	height: 64px;
}

.navBar li a, .navbar_right_side a{
	font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: #2E4960 !important;
    transition: 0.3s;
}

.navbar_right_side{
	display: flex;
	align-items: center;
	gap: 38px;
	padding-right: 109px;
}

.navBar li a:hover{
  color: #4F52FC !important;
} 

.navbar_right_side a:hover{
	color: #4F52FC !important;
}

/*================================ Navbar ================================*/
.header {
	position: relative;
}

.header .header_item_block {
	position: absolute;
	top: 145px;
	width: 50%; 
	background-color: blue;
	left:310px;
}

.robor{
	position: absolute;
	padding-top: 128px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background: red;
	bottom: 0;
}

.robor input{

	background: #EFF0F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36.5px;
}
/*================================ Media ================================*/
@media(max-width:1400px){
  .navBar li a, .navbar_right_side a{
    font-size: 20px;
  }

  .navbar_logo img {
	height: 44px;
  }
}

@media(max-width:1300px){
  .navbar_logo{
	padding-left: 23px;
  }

  .navbar_right_side{
  	padding-right: 59px;
  }
}

@media(max-width:1100px){
  .navBar li a, .navbar_right_side a{
    font-size: 18px;
  }

  .navbar_right_side{
  	gap: 20px;
  }
}