@font-face{
  font-family: Muller;
  src: url(../font/Muller-ExtraBold-DEMO.ttf);
}

*{
	padding:0;
	margin: 0;
}

body {
	background-color: #00264D;
}

img {
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1024px;
    height: 100vh;
    margin-left: auto;
	margin-right: auto;
	padding: 15px;
	box-sizing: border-box;
}

/*=========== Top block ===========*/
.topBlock{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoBlock{
   width: 50px;
   height: 50px;
}

.textBlock_text1{
	font-size: 45px;
	color: white;
	font-family: Muller;
}

.textBlock_text2{
	font-size: 30px;
	color: white;
	font-family: Muller;
}

.people_block p{
   color: white;
   font-family: Muller;
   font-size: 15px;
}

.people_block{
   display: flex;
   align-items: center;
   gap: 8px;
}

.img_block{
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.img_block img {
	border-radius: 50%;
}

/*=========== Bottom block ===========*/
.block_bottom{
	width: 100%;
	height: 87.5%;
	margin-top: 15px;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu li {
	list-style: none;
	width: 25%;
	text-align: center;
}

.menu li a {
	width: 100%;
	text-decoration: none;
	background-color: #04376D;
	padding: 18px 0;
	display: block;
	box-sizing: border-box;
	color: white;
	font-family: Muller;
	font-size: 12px;
}

.active {
	background-color: white !important;
	color: #04376D !important;
}

.menu li a:not(.active):hover{
	background-color: white;
	color: #04376D;
}

.active_block{
	background-color: white;
}

.active_block_tittle{
	padding: 60px 0px 88px 90px;
	font-family: Muller;
	font-size: 25px;
}

.active_block_card_block{
	display: flex;
	justify-content: space-around;
}

.active_block_card_block div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.block_item{
	padding: 25px 35px 52px 35px;
	border: 1px solid gray;
}

.img_item_block div {
   width: 200px;
   height: 100px;
   margin-top: 15px;
}

.img_item_block h3 {
	text-align: center;
	font-family: Muller;
}

.active_block_card_block div button{
    width: 80%;
    border-radius: 50px;
    margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
	background-color: #00264D;
	color: white;
}


/*========= Media =========*/
@media(max-width: 870px){
   .block_item {
   	  padding-left: 15px !important;
   	  padding-right: 15px !important;
   }
}

@media(max-width: 775px){
	.active_block h1{
       text-align: center;
       padding-left: 0 ;
   	   padding-right: 0;
	}

    .active_block_card_block{
   	   flex-direction: column;
    }

    .active_block_card_block div button{
       width: 55%;
    }
}

@media(max-width: 640px){
     .topBlock{
  	   flex-direction: column;
  	   gap: 10px;
     }	

    .textBlock_text1{
    	font-size: 35px;
    }
    
    .textBlock_text2{
    	font-size: 20px;
    }

    .img_block {
         width: 50px;
         height: 50px;
    }
}

@media(max-width: 430px){
     .menu li a{
         font-size: 10px !important;
     }
}
