*{
	padding: 0;
	margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
	 margin: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif !important; 
}

/*============= Global style =============*/
.sec_padding{
	padding: 0 216px;
}

.sec_title{
     font-style: normal;
     font-weight: 700; 
     font-size: 50px;
     line-height: 76px;
     text-align: center;
     color: #001A49;
}

/*=============================== Header ===============================*/
.headerTop_block_mobile{
	display: none;
}

.header{
  display: flex;
}

.header_leftSide {
	width: 50%;
	padding-top: 46px;
	padding-left: 216px;
	padding-bottom: 190px;
	box-sizing: border-box;
	background:  #F4F4F4;
}

.header_leftSide_img_block{
	display: flex;
	justify-content: flex-end;
}

.header_leftSide h1	{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 109px;
	color: #272D4E;
	padding-bottom: 35px;
}

.header_leftSide_text_block{
	width: 68%;
	padding-bottom: 118px;
	box-sizing: border-box;
}

.header_leftSide_text_block p {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #57606A;
}

.header_leftSide_btn_block {
	width: 73%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_leftSide_btn_block button {
	ont-style: normal;
	font-weight: 700;
	font-size: 26.4944px;
	line-height: 31px;
	text-align: center;
	color: #FFFFFF;	
	padding: 20px 68px;
	border: none;
	cursor: pointer;
	background: #EB242A;
    border-radius: 60px;
}

.header_leftSide_btn_block p {
	font-style: normal;
    font-weight: 400;
    font-size: 29.069px;
    line-height: 40px;
    color: #94A2B3;
    display: flex;
    gap: 15px;
}

.header_leftSide_btn_block p  a{
	color: #299EF3;
    border-bottom: 2px solid #2B9FF3;
}

.header_rightSide{
	width: 50%;
	position: relative;
}

.header_rightSide img{
   width: 100%;
   height: 100%;
} 


.header_rightSide_btnBlock {
	width: 25%;
	background: white;
	position: absolute;
	top: 35px;
	height: 70px;
	right: 210px;
	border-radius: 50px;
}

.header_rightSide_btnBlock button{
	border: none;
	background-color: unset;
	cursor: pointer;
}

.mobile_img{
	display: none;
}
/*=============================== Main ===============================*/
/*============== Section 1 ==============*/
.section1 {
    margin-top: 118px;
    margin-bottom: 118px;
}

.sec1_block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FDF4F4;
	border-radius: 21px;
	padding-left: 127px;
	padding-right: 107px;
	padding-bottom: 31px;
	padding-top: 31px;
}

.sec1_block_leftSide{
	 width: 52%;
	 padding-top: 20px;
	 padding-bottom: 14px;
	 box-sizing: border-box;
}

.sec1_block_leftSide h6{
    font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 52px;
	text-transform: uppercase;
	color: #001A49;
	padding-bottom: 34px;
}

.sec1_block_leftSide p {
	font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #57606A;
}

.sec1_block_rightSide{
	width: 30%;
}

.sec1_block_rightSide img {
	width: 100%;
	height: 100%;
}
/*============== Section 2 ==============*/

/*============== Section 3 ==============*/
.sec3_p1{
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #57606A;
    padding-bottom: 90px;
}

.sec3_card_block{
   display: flex;
   justify-content: space-between;
   margin-bottom: 209px;
}

.sec3_card_block_item_back{
    background: #EB242A;
}

.sec3_card_block_item_border{
    border: 2px solid #EB242A;
}

.sec3_color_item{
    color:  #001A49 !important;
}

.sec3_back_item{
   background: #001A49 !important;
   box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.08);
}

.sec3_card_block_item{
    width: 48%;
    padding: 33px 54px;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: normal;
    border-radius: 21px;
}

.sec3_card_block_item1{
    width: 10%;
}

.sec3_card_block_item2{
    width: 65%;
}

.sec3_card_block_item2 h6{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 11px;
}

.sec3_card_block_item2 p {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.sec3_card_block_item3{
    width: 10%;
    display: flex;
    align-items: center;
}

.sec3_img1{
    background: white;
    padding: 15px;
    border-radius: 50%;
}

.sec3_mobile_block{
    display: none;
}

/*============== Section 4 ==============*/
.section4{
    background:  #EB242A;
}

.sec4_block{
    padding-top: 54px;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec4_block_leftSide{
    width: 50%;
}

.sec4_block_leftSide p {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
}

.sec4_block_rightSide{
    width: 40%;
}

.sec4_block_rightSide div{
    width: 100%;
    display: flex;
    align-items: center;
}

.sec4_block_rightSide div input{
    border: none;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: inset -2.40556px -2.40556px 4.81111px rgba(255, 255, 255, 0.5), inset 2.40556px 2.40556px 4.81111px rgba(170, 170, 204, 0.25), inset 6.01389px 6.01389px 12.0278px rgba(170, 170, 204, 0.5), inset -6.01389px -6.01389px 12.0278px #FFFFFF;
    border-radius: 48.1111px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 38px;
    padding-right: 38px;
}

.sec4_block_rightSide div input::placeholder{
  font-style: normal;
  font-weight: 500;
  font-size: 28.1377px;
  line-height: 35px;
  color: #C3C6CB;
}

.sec4_block_rightSide button {
    margin-left: -61px;
    border: none;
    cursor: pointer;
    background: #EB242A;
    box-shadow: 6.01389px 6.01389px 12.0278px rgba(170, 170, 204, 0.5), -6.01389px -6.01389px 12.0278px #FFFFFF;
    border-radius: 38.4889px;
    padding: 12px;
}

/*============== Section 5 ==============*/
.sec5_block{
    margin-top: 107px;
    margin-bottom: 130px;
}

.sec5_title{
    padding-bottom: 84px;
}
/*============== Section 6 ==============*/

/*=============================== Footer ===============================*/

/*=============================== Media ===============================*/
@media(max-width:1990px){
	.header_rightSide_btnBlock {
       right: 202px;
    }
}

@media(max-width:1920px){
  .header_rightSide_btnBlock {
        right: 198px;
        width: 20%;
        height: 69px;
   }

   .header_leftSide_btn_block {
    width: 80%;
   } 
}

@media(max-width:1875px){
  .header_rightSide_btnBlock {
    right: 190px;
    width: 25%;
    height: 73px;
    top: 33px;
  }
}

@media(max-width:1820px){
 .header_rightSide_btnBlock {
    right: 190px;
 }

 .header_leftSide_btn_block {
    width: 90%;
  }
}

@media(max-width:1813px){
    .sec3_card_block_item {
       width: 49%;
    }

    .sec3_card_block_item2 {
       width: 70%;
    }
}

@media(max-width:1802px){
 .header_rightSide_btnBlock {
    right: 177px;
    border-radius: 50px; 
  }
}

@media(max-width:1785px){
	.sec1_block {
		 padding-left: 100px;
         padding-right: 100px;
	}

	.sec1_block_leftSide {
       width: 61%;
    }
}

@media(max-width:1740px){
	.header_rightSide_btnBlock {
     right: 156px;
   }
}

@media(max-width:1704px){
    .sec3_card_block_item2 p {
         font-size: 13px;
    }
}

@media(max-width:1640px){
	.header_rightSide_btnBlock {
     right: 166px;
      width: 27%;
      top: 35px;
   }

   .header_leftSide_btn_block {
    width: 100%;
   }
}


@media(max-width:1600px){
	.header_rightSide_btnBlock {
     right: 150px;
      width: 27%;
      top: 33px;
   }
}

@media(max-width:1586px){
	.sec_padding {
       padding: 0 170px;
    }

    .sec4_block_leftSide {
          padding-top: 54px;
          padding-bottom: 42px;
    }
}

@media(max-width:1530px){
	.header_leftSide_btn_block p {
		gap: 10px;
	}

	.header_leftSide {
		padding-left: 200px;
	}
}

@media(max-width:1494px){
	.sec1_block {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width:1460px){
  .header_leftSide_btn_block p, .header_leftSide_btn_block button{
  	font-size: 24px;
  }

  .header_rightSide_btnBlock {
    top: 40px;
    height: 69px;
  }
}

@media(max-width:1420px){
	.header_rightSide_btnBlock {
       right: 141px;
    }
}

@media(max-width:1415px){
   .sec_padding {
    padding: 0px 100px;
   }
}

@media(max-width:1400px){
	.header_rightSide_btnBlock {
       right: 138px;
       width: 30%;
    }
}

@media(max-width:1376px){
	.header_rightSide_btnBlock {
    right: 130px;
    height: 64px;
    width: 34%;
    }

    .header_leftSide {
      padding-left: 160px;
    }

    .header_rightSide_btnBlock button img {
    	width: 70%;
    }

    .sec1_block_leftSide p {
    	 font-size: 20px;
    }

    .sec1_block_leftSide h6 {
    	font-size: 28px;
    	padding-bottom: 20px;
    }
}

@media(max-width:1300px){
	.header_leftSide h1 {
		font-size: 65px;
		line-height: 80px;
	}

	.header_leftSide_text_block {
       width: 90%;
    }

    .header_leftSide_text_block p {
    	font-size: 16px;
    }

    .header_leftSide_img_block img {
    	width: 40%;
    }

    .header_rightSide_btnBlock {
       top: 33px;
       right: 127px;
       height: 64px;
       width: 30%;
     }

     .sec1_block_rightSide img{
     	height: 135px;
     }
}

@media(max-width:1276px){
    .sec4_block_leftSide p {
        font-size: 35px;
    }
}

@media(max-width:1275px){
    .sec3_card_block_item {
      width: 48%;
      padding: 33px 20px;
    }

    .sec3_card_block_item2 p {
       font-size: 11px;
       line-height: 15px;
    }

    .sec3_card_block_item2 h6 {
       font-size: 20px;
       line-height: 24px;
    }
}

@media(max-width:1270px){
	.header_leftSide_btn_block p, .header_leftSide_btn_block button {
       font-size: 19px;
    }

    .header_leftSide_btn_block button{
    	padding: 15px 40px;
    }
}

@media(max-width:1260px){
    .header_rightSide_btnBlock {
         top: 30px;
    }
}

@media(max-width:1225px){
	.header_rightSide_btnBlock {
		right: 120px;
	}

	.sec1_block_rightSide img {
       height: 150px;
    }
}

@media(max-width:1170px){
	.header_rightSide_btnBlock {
       right: 111px;
    }
}

@media(max-width:1142px){
    .sec4_block_leftSide p {
      font-size: 26px;
      line-height: 40px;
    }
}

@media(max-width:1090px){
	.header_rightSide_btnBlock {
       right: 105px;
    }

    .sec_padding {
       padding: 0px 50px;
    }
}

@media(max-width:1035px){
	.header_rightSide_btnBlock {
       right: 97px;
    }

    .header_leftSide_btn_block button {
       padding: 8px 25px;
     }
}

@media(max-width:970px){
	 .header_leftSide {
       padding-left: 90px;
       padding-bottom: 110px;
     }

     .header_leftSide_text_block {
       width: 95%;
    }

    .header_rightSide_btnBlock {
        right: 90px;
        top: 24px;
        height: 48px;
    }

     .header_leftSide h1 {
       font-size: 50px;
       line-height: 60px;
     }

     .header_leftSide_text_block p {
        font-size: 15px;
     }

     .sec_padding {
        padding: 0 40px;
     }

     .sec3_card_block {
        flex: wrap;
        gap: 0;
     }

     .sec3_card_block_item {
       width: 49%;
       padding: 20px 15px;
     }

     .sec4_block_rightSide div input::placeholder{
        font-size: 20px;
     }
}

@media(max-width:940px){
    .sec3_card_block_item {
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }

    .sec3_card_block_item1{
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .sec3_img1 {
         padding: 8px;
    }

    .sec3_card_block_item2 {
        height: 110px;
    }
}

@media(max-width:888px){
	.header_rightSide_btnBlock {
      right: 83px;
      top: 26px;
      height: 48px;
    }
}

@media(max-width:864px){
    .sec3_card_block_item {
       padding: 15px 5px;
    }

    .sec3_card_block {
        margin-bottom: 150px;
    }
}

@media(max-width:824px){
	.header_leftSide_text_block p {
       font-size: 12px;
    }

    .header_leftSide_btn_block p, .header_leftSide_btn_block button {
        font-size: 14px;
    }

    .header_rightSide_btnBlock {
       right: 79px;
       top: 28px;
       height: 41px;
   }

   .header_rightSide_btnBlock button img {
    width: 80%;
    }
}

@media(max-width:800px){
	.header_rightSide_btnBlock {
       right: 77px;
       top: 26px;
       height: 45px;
    }

    .sec1_block_leftSide p {
        font-size: 16px;
     }

     .sec1_block_leftSide h6 {
       font-size: 24px;
       padding-bottom: 5px;
     }

     .sec1_block {
       padding-left: 24px;
       padding-right: 24px;
     }

     .sec_padding {
        padding: 0 20px;
     }
}

@media(max-width:767px){
	.header_rightSide_btnBlock {
      right: 73px;
    }

    .sec3_card_block_item2 {
       height: 125px;
    }
}

@media(max-width:735px){
   .header_rightSide_btnBlock {
      right: 69px;
      top: 24px;
   }
}

@media(max-width:740px){
    .sec4_block_leftSide p {
      font-size: 21px;
      line-height: 28px;
    }

   
    .sec4_block_rightSide div input {
       padding-top: 15px;
       padding-bottom: 15px;
       padding-left: 25px;
       padding-right: 16px;
    }

    .sec4_block_rightSide button {
       margin-left: -48px;
       padding: 7px;
    }
}

@media(max-width:700px){
	.header_leftSide h1 {
       font-size: 39px;
       line-height: 48px;
       padding-bottom: 15px;
     }

     .header_leftSide_text_block {
      padding-bottom: 65px;
     }

     .header_leftSide_text_block p {
       font-size: 10px;
    }

    .header_leftSide {
      padding-left: 50px;
    }

    .header_rightSide_btnBlock {
       top: 20px;
     }
}

@media(max-width:678px){
	.header_leftSide {
      padding-left: 35px;
    }

    .header_rightSide_btnBlock {
      right: 64px;
    }
}

@media(max-width:640px){
   .header_rightSide_btnBlock {
    right: 59px;
   }

   .sec3_card_block_item1 {
    width: 16%;
   }

   .sec3_card_block_item2 h6 {
    font-size: 15px;
    line-height: 20px;
   }

    .sec4_block_rightSide div input::placeholder{
        font-size: 16px;
     }
}

@media(max-width:630px){
	.header_leftSide_btn_block p, .header_leftSide_btn_block button {
       font-size: 12px;
    }
}

@media(max-width:605px){
  .sec_padding {
    padding: 0 17px;
  }

  .sec4_block_leftSide {
    width: 60%;
  }
}

@media(max-width:592px){
   .header_rightSide_btnBlock {
    right: 56px;
   }
}

@media(max-width:576px){
	.header, .sec4_block{
	   flex-direction: column;
	}

    .sec4_block_rightSide {
       width: 100%;
       margin-bottom: 45px;
    }

    .sec4_block_leftSide {
       width: 90%;
    }

    .sec4_block_rightSide div input::placeholder{
       font-size: 20px;
    }

    .sec4_block_leftSide {
       padding-top: 36px;
        padding-bottom: 26px;
    }

    .sec_padding {
        padding: 0 10px;
    }

    .section1 {
        margin-top: 60px;
        margin-bottom: 58px;
    }

	.header_leftSide{
	    background: white;
	}

	.header_leftSide, .header_rightSide{
		width: 100%;
	}

	.headerTop_block_mobile{
		display: block;
	}

	.headerTop_block_mobile_block{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 26px;
	}

	.header_leftSide_text_block p {
        font-size: 12px;
    }

    .header_leftSide_text_block {
        width: 75%;
        padding-bottom: 21px;
    }

    .header_leftSide {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header_leftSide_btn_block button {
        font-size: 19px;
    }

    .header_leftSide_btn_block p{
        font-size: 15px;
    }

    .header_leftSide_btn_block {
        width: 100%;
    }

	.btn_block_mobile button{
	    border: none;
	    cursor: pointer;
	    background-color: unset;
	}

	.header_leftSide {
        padding-bottom: 0px;
     }

	.logo, .header_leftSide_img_block, .header_rightSide_btnBlock{
		display: none;
	}

	.mobile_img{
		display: block;
	}

	.hide{
		display: none;
	}

    .sec1_block {
        flex-direction: column;
        gap: 48px;
    }

    .sec1_block_leftSide, .sec1_block_rightSide{
        width: 100%;
    }

    .sec1_block_rightSide{
        display: flex;
        justify-content: center;
    }

    .sec1_block_rightSide img {
        height: 120px;
        width: 100%;
    }

    .sec1_block_leftSide{
        padding-left: 22px;
        padding-right: 22px;
    }

    .sec1_block {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sec3_card_block {
        margin-bottom: 65px;
    }

    .sec3_card_block{
        flex-direction: column;
        gap: 30px;
    }

    .sec3_card_block_item {
        width: 100%;
    }

    .hide_sec3{
        display: none;
    }

    .sec3_mobile_block{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .sec3_mobile_block_item{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sec3_card_block_item2 {
        height: auto !important;
        width: 70%;
    }

   .div1{
        display: flex;
        width: 25% !important;
        justify-content: flex-start;
   }

    .div12{
        justify-content: flex-end !important;
    }

    .sec3_card_block_item {
        padding: 24px 25px;
    }

    .sec4_block_rightSide div input {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sec4_block_rightSide button {
        margin-left: -53px;
        padding: 9px;
    }
}

@media(max-width:460px){
	.logo_block, .btn_block_mobile{
		width: 40%;
	}
}

@media(max-width:400px){
	.header_leftSide_text_block {
     width: 100%;
    }

    .sec_padding {
       padding: 0 20px;
    }
}

@media(max-width:330px){
	.logo_block, .btn_block_mobile{
		width: 30%;
	}

	.header_leftSide_btn_block p {
       font-size: 13px;
    }

    .header_leftSide_btn_block button {
      font-size: 15px;
    }

    .sec1_block_leftSide p {
    font-size: 14px;
   }

   .sec3_card_block_item2 p {
    font-size: 10px;
   }

   .sec3_card_block_item2 h6 {
    font-size: 14px;
    line-height: 20px;
   }  
}