@font-face {
	font-family: 'Product Sans';
	src:url('../Product Sans - font family/Product Sans Regular.ttf');
}

*{
	padding: 0;
	margin: 0;
}

.uk-grid>* {
    padding-left: 0 !important; 
 }

 body {
 	font-family: 'Noto Serif', serif !important;
 }

p, h1, h2, h3, h4, h5, h6, ul {
	margin:  0 !important;
}
/*================================= Global Style =================================*/
.sec_padding {
	padding-left: 120px;
	padding-right: 120px;
}

.sec_title{
    font-family: 'Noto Serif', serif !important;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #2C2C2C;
}

/*================================= Navbar =================================*/
.menu {
	display: flex !important;
	justify-content: space-between !important;
   position: relative !important;
   padding-top: 39px !important;
   padding-bottom: 36px !important;
   padding-left: 120px !important;
   padding-right: 120px !important;
}

.menu_item {
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	width: 100%;
}

.menu_item ul{
    list-style: none;
    display: flex; 
    gap: 60px;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important;
    transition: 0.2s !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 25px !important;
    color: #2C2C2C !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
	transform: scale(1.5) !important;
	color: #FF715B !important;
}

.navbar_right_block div a:hover{
	transform: scale(1.3) !important;
	color: #FF715B !important;
	text-decoration: none !important;
}

.navbar_right_block {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navbar_right_block div {
	display: flex;
	padding-right: 20px;
	border-right: 1px solid #F1E0DD;
}

.navbar_right_block div a {
	display: flex;
	gap: 10px;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #2C2C2C;
	transition: 0.2s !important;
}

.hide_logo {
	display: none !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #C7CBD1 !important;
}

.navbar-toggler-icon{
	color: blue !important;
}

/*================================= Header =================================*/
.header {
	position: relative;
	display: flex;
	flex-direction: column;
}

.header_back {
	width: 100%;
	height: 100%;
}

.header_textBtn_block {
	position: absolute;
	top: 0;
	left: 0;
     width: 80%;
     height: 85%;
     padding-left: 255px;
     display: flex;
     align-items: center;
}

.header_textBtn_block div h1 {
	font-family: 'Noto Serif', sans-serif;
    font-style: normal;
	font-weight: 700;
	font-size: 84px;
	line-height: 112px;
	color: #2C2C2C;
	padding-bottom: 50px;
}

.header_textBtn_block div button {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	background: #FF715B;
	padding: 18px 36px;
}

.select_block {
	width: 26%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.select_block_btn {
	display: flex;
	gap: 20px;
}

.select_block_btn button {
	border: none;
	cursor: pointer !important;
}

.select_block_btn button img {
	cursor: pointer;
}

.select_block_number p {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 33px;
	color: #FF715B;
}

.data_block {
	position: absolute;
	right: 120px;
	bottom: 15px;
	background: #FFFFFF;
	box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
	width: 62%;
	padding: 45px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.input_block {
	display: flex;
	justify-content: space-between;
	width: 75%;
}

.input_block_item {
	width: 30%;
	border-bottom: 2px solid #F5EBE9;
}

.input_block_item li {
	list-style: none;
}

.menu li a {
	display: block;
	padding: 12px 24px;
	text-decoration: none;
	color: black;
}

.menu li a:not(.active):hover{
        background-color: gray;
}

.dropdown-contant{

	position: absolute;
	min-width: 135px;
	display: none;
}

.dropdown:hover .dropdown-contant{
   display: block;
}

.dropdown{
	cursor: pointer;
	padding-bottom: 10px;
}

.dropdown_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown_title p {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #FF715B;
}

.input_block_item_p1 {
	padding-bottom: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #A79997;
	font-family: 'Product Sans';
}

.data_block_btn {
	background: #FF715B;
    border: none;
    padding: 20px 37px;
    font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
}
/*================================= Main =================================*/
/*========== Section 1 ==========*/
.section1 {
	padding-top: 180px;
	padding-bottom: 180px;
}

.sec1_block {
padding-left: 135px;
	padding-right: 135px;
	display: flex;
	justify-content: space-between;
}

.se1_block_item {
	width: 23.8%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;
	padding-top: 30px;
	box-sizing: border-box;
	background: #F8F8F8;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: 0.3s;
}

.se1_block_item img {
	height: 100px;
}

.se1_block_item h6 {
	padding-top: 15px;
	padding-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #2C2C2C;
}

.se1_block_item p {
	font-family: 'Product Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #A79997;
}

.se1_block_item:hover{
	background: white !important;
	filter: drop-shadow(0px 12px 30px rgba(200, 180, 180, 0.2));
	transform: scale(1.1);
}
/*========== Section 2 ==========*/
.section2{
  position: relative;
}

.title_arandzinKtor{
  color: #FF715B;
}

.sec2_back {
  position: absolute;
  right: 0;
  z-index: 2;
}

.sec2_block {
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 90px;
  display: flex;
  justify-content: space-between;
  padding-right: 280px !important;
  box-sizing: border-box;
}

.text_block {
  width: 30%;
}

.text_block p {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #A79997;
  padding-top: 30px;
  padding-bottom: 60px;
}

.text_block button {
    background: #FF715B;
    border: none;
    padding: 20px 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.img_block {
  width: 20%;
}

.img_block img {
  width: 100%;
  height: 100%;
}

/*========== Section 3 ==========*/
.section3 {
   margin-top: 790px;
}

.sec3_block {
  padding-right: 135px;
  display: flex;
  justify-content: space-between;
}

.sec3_block_leftSide {
    width: 48%;
    position: relative;
}

.sec3_block_leftSide_img {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 25px;
}

.sec3_block_leftSide_fon1{
   position: absolute;
   right: -30px;
   top: -54px;
   z-index: 2;
}

.sec3_block_leftSide_fon2{
    top: 50px;
    position: absolute;
    right: -76px;
    width: 33%;
    height: 630px;
}

.sec3_block_leftSide_fon2 img {
   height: 100%;
}

.sec3_block_leftSide_fon3{
  position: absolute;
  left: 60px;
  top: 600px;
}

.sec3_block_leftSide_fon4{
    width: 33%;
    height: 630px;
    left: 0;
}

.sec3_block_leftSide_fon4 img {
  height: 100%;
}

.sec3_block_leftSide_fon5{
   position: absolute;
   left: -25px;
   top: 50%;
}

.sec3_block_rightSie {
    width: 48%;
    padding-left: 80px;
    box-sizing: border-box;
}

.sec3_block_rightSie_title {
  padding-bottom: 49px;
}

.sec3_block_rightSie_item{
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding-top: 45px;
}

.item2 {
  align-items: center !important;

}

.sec3_block_rightSie_item div {
  border-bottom: 1px solid #F1E0DD;
}

.sec3_block_rightSie_item div h6{
  font-family: 'Noto Serif', sans-serif !important;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 25px;
}

.sec3_block_rightSie_item div p {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #A79997;
  padding-bottom: 50px;
}

.last_item {
  border: none !important;
}

.sec3_text {
  display: none;
}

/*========== Section 4 ==========*/
.section4 {
  padding-top: 280px;
  padding-bottom: 220px;
}

.sec4_title {
  text-align: center;
}

.sec4_block {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.sec4_block_item {
   width: 32%;
}

.sec4_block_item_text {
  position: relative;
}

.sec4_block_item_text_div{
  position: absolute;
  width: 85%;
  top: 473px;
   right: 0;
  padding: 20px 34px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec4_div1 {
  width: 80%;
}

.sec4_div1  h6{
  font-family: 'Noto Serif', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.sec4_div1_div{
  display: flex;
  justify-content: space-between;
  margin-top: 17px;

  align-items: center;
}

.sec4_div1_div_uk {
  display: flex;
  gap: 7px;
  align-items: center !important;
}

.astx_block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.sec4_p {
  font-family: 'Product Sans' !important;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #A79997;

}

.sec4_p12{
  font-family: 'Product Sans' !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FF715B;
}

.sec4_div2 {
   width: 15%;
}

.sec4_div2 button{
  border: none;
  padding: 15px 20px;
  background: #FF715B;
  font-family: 'Product Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
cursor: pointer;
}

.sec4_item1 {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 30px;
}

.sec4_item2 {
  display: flex;
  flex-direction: column;
  gap: 137px;
  align-items: center;
}

.btn_sec4555 {
     border: none;
     background: #FF715B;
     cursor: pointer;
     padding: 20px 41px;
     font-family: 'Noto Serif', sans-serif !important;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 25px;
     text-align: center;
     color: #FFFFFF;   
}

.sec4_item3{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.sec4_hidea12 {
  display: none;
}

/*========== Section 5 ==========*/
.section5{
  position: relative;
}

.sec5_fon1 {
   position: absolute;
   top: -288px;
    left: -45px;
}

.sec5_title {
   text-align: center;
}

.sec5_block {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.sec5_block_item1 {
  width: 25%;
  position: relative;
}

.sec5_block_item2 {
  width: 40%;
  position: relative;
}

.people_ifo_block {
  background: #FFFFFF;
  box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
   position: absolute;
  top: 0;
  z-index: 5;
 
}

.people_ifo_block_gic {
  background: #FF715B;
  height: 12px;
  width: 100%;
 box-shadow: 0px 20px 40px rgba(227, 202, 202, 0.3);
}

.people_ifo_block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 58px;
}

.people_ifo_block1 div h6 {
  font-family: 'Noto Serif', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.people_ifo_block1 div p {
  font-family: 'Product Sans', !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FF715B;
}

.people_ifo_block2 {
  width: 80%;
  margin-top: 50px;
}

.people_ifo_block2 p {
  font-family: 'Product Sans' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #A79997;
}

.people_ifo_block3 {
  margin-top: 50px;
  padding-bottom: 70px;
}

.people_ifo_block_fon {
    position: absolute;
    top: 410px;
    right: -90px;
    z-index: 1;
}

.sec4_people1 {
  position: absolute;
  top: 0;
  left: 240px;
}

.sec4_people2 {
  position: absolute;
  left: 0;
  top: 70px;
}

.sec4_people3 {
  position: absolute;
  top: 150px;
  right: 0;
}

.sec4_people4 {
  position: absolute;
  top: 357px;
  left: 50px;
}

.sec4_people5 {
  position: absolute;
  top: 20px;
  right: 0;
}

.sec4_people6 {
  position: absolute;
  top: 188px;
  left: 0;
}

.sec4_people7 {
  position: absolute;
  top: 389px;
  left: 174px;
}

/*========== Section 6 ==========*/
.section6{
  margin-top: 890px;
}

.sec6_title {
  font-weight: bold !important;
  padding-bottom: 60px;
}

.sec6_block {
  background: linear-gradient(90deg, #A6F2F2 0%, #DDF181 100%);
  display: flex;
  justify-content: space-between;
}

.sec6_leftSide {
  display: flex;
  align-items: center;
  width: 45%;
  padding-left: 134px;
  box-sizing: border-box;
}

.sec6_iqon_apps {
  display: flex;
  align-items: center;
  gap: 27px;
}

.sec6_iqon_apps img {
  width: 35%;
  height: 50px;
}

.sec6_rightSide {
  width: 45%;
}

.sec6_rightSide img {
  width: 100%;
  height: 100%;
}

/*================================= Footer =================================*/
.footer {
  margin-top: 180px;
}

.footer_block {
  padding-left: 135px;
  padding-right: 135px;
  display: flex;
  justify-content: space-between;
}

.footer_blockItem1 {
  width: 30%;
}

.footer_blockItem1_img{
   padding-bottom: 26px;
}

.footer_blockItem1_p1 {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #A79997;
  padding-bottom: 30px;
}

.footer_blockItem1 a {
  display: flex;
  gap: 15px ;
  align-items: center;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #A79997;
  margin-bottom: 24px;
}

.footer_blockItem2{
  width:15%;
}

.footer_blockItem2  h4 {
  font-family: 'Noto Serif', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 30px;
}

.footer_blockItem2 div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_blockItem2 div a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Product Sans', !important;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  color: #A79997;
  transition: 0.5s;
}

.footer_blockItem2 div a img{
  transition: 0.5s;
}

.hide_img {
  display: none;
}

.footer_blockItem2 div a:hover{
  color: #FF715B !important;
  text-decoration: none !important;
}

.footer_blockItem2 div a:hover .hide_img {
   display: block !important;
}

.footer_blockItem2 div a:hover .hide_img1 {
  display: none ;
}

.footer_blockItem3 {
  width: 27%;
}

.footer_blockItem3 h4 {
    font-family: 'Noto Serif', sans-serif  !important;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: #000000;
    padding-bottom: 44px; 
}

.footer_blockItem3 input {
    background: #F8F8F8;
    border: 1px solid #F5EBE9; 
    padding: 20px; 
    margin-bottom: 15px;
    width: 100%;
 }

 .footer_blockItem3 button {
      padding: 20px 31px;
      border: none;
      cursor: pointer;
      background: #FF715B;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
 }

 .footer_block2 {
  margin-top: 91px;
  border-top: 1px solid #F5EBE9;
 }

 .footer_block2 p{
  font-family: 'Product Sans', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #A79997;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
 }

 .footer_block2 p a {
   color: #FF715B;
 }

/*================================= Media =================================*/
@media(max-width:2000px){
  .sec3_block_leftSide_img {
    right: 72px;
  }
}

@media(max-width:1950px){
  .sec3_block_leftSide_img {
    right: 50px;
  }
}

@media(max-width:1910px){
   .sec3_block_leftSide_img {
    right: 26px;
   }
}

@media(max-width:1862px){
  .sec3_block_leftSide_img {
    right: 3px;
   }
}

@media(max-width:1855px){
  .sec3_block_leftSide_fon3 {
     left: 30px;
  }

  .sec3_block_leftSide_fon4 {
    width: 40%;
  }
}

@media(max-width:1800px){
  .data_block {
  	 width: 60%;
  }

  .select_block_gic{
    width:50%
  }

  .header_textBtn_block {
  	height: 75%;
  }

  .sec1_block {
    padding-left: 100px;
    padding-right: 100px;
   }

   .sec3_block_leftSide_fon3 {
    left: 8px;
  }
}

@media(max-width:1750px){
  .sec3_block_leftSide_fon3 {
    left: 0px;
  }

  .sec3_block_leftSide_fon4 {
    width: 25%;
  }

  .sec3_block_leftSide_fon5 {
    left: -60px;
  }

  .footer_blockItem1_p1 {
    font-size: 15px;
    line-height: 20px;
  }

  .footer_blockItem1 a{
    font-size: 15px;
    line-height: 18px;
  }

  .footer_blockItem2 div a {
    font-size: 15px;
  }
}

@media(max-width:1730px){
  .sec3_block_leftSide_img{
    height: 640px !important;
    width: 80% !important;
  }

  .sec3_block_leftSide_img img {
     height: 100%;
  }

  .sec3_block_leftSide_fon4 {
    width: 45%;
  }

  .sec3_block_leftSide_fon3 {
    left: 50px;
    top: 525px;
  }

  .sec3_block_leftSide_fon5 {
    left: -40px;
  }
}

@media(max-width:1705px){
  .sec3_block {
    padding-right: 100px;
  }
}

@media(max-width:1697px){
	.se1_block_item h6 {
		font-size: 19px;
		padding-bottom: 10px;
	}

	.se1_block_item p {
		font-size: 15px;
		line-height: 22px;
	}
}

@media(max-width:1676px){
  .sec2_block {
     padding-right: 200px !important;
  }
  
  .sec2_back {
     width: 38%;
     height: 540px;
  }

  .sec2_back_img{
    width: 100%;
     height: 100%;
     vertical-align: middle;
  }
}

@media(max-width:1674px){
  .sec6_leftSide {
    padding-left: 100px;
  }
}


@media(max-width:1669px){
  .sec3_block {
    padding-right: 80px;
  }
}

@media(max-width:1623px){
  .sec4_div1 h6 {
    font-size: 20px;
  }

  .sec4_p {
    font-size: 14px;
  }

  .sec4_div1_div {
    margin-top: 15px;
  }

  .sec4_div1 {
    width: 77%;
  }
}

@media(max-width:1649px){
  .sec3_block_rightSie_title {
    font-size: 40px;
    line-height: 55px;
  }
}

@media(max-width:1600px){
  .sec3_block_leftSide_img {
    height: 620px !important;
    width: 77% !important;
  }

  .sec3_block_leftSide_fon4 {
    width: 65%;
  }

  .sec3_block_leftSide_fon2 {
     width: 40%;
  }

  .sec3_block_rightSie_item div p {
    font-size: 15px;
    line-height: 23px;
  }

  .sec3_block_rightSie_item div h6 {
     font-size: 18px;
  }
}

@media(max-width:1596px){
  .sec_title {
    line-height: 46px;
    font-size: 40px;
  }

  .footer_block {
    padding-left: 120px;
    padding-right: 120px;
  }

  .sec4_block_item_text_div {
    top: 450px;
  }
}

@media(max-width:1580px){
	.data_block {
		bottom: 0;
	}

	.input_block {
      width: 70%;
	}

	.header_textBtn_block {
      width: 68%;
	}
}

@media(max-width:1566px){
  .footer_blockItem2 h4, .footer_blockItem3 h4 {
      font-size: 24px;
  }
}

@media(max-width:1550px){
	.header_textBtn_block div h1 {
		font-size: 75px;
	}
}

@media(max-width:1541px){
  .footer_block {
    padding-left: 65px;
    padding-right: 65px;
  }

  .sec4_block_item_text_div {
    top: 430px;
 }

 .sec4_block_item_text_div {
  
    padding: 12px 20px;
  }
}


@media(max-width:1505px){
	.se1_block_item {
		    padding-left: 20px;
		    padding-right: 20px;
  }

  .sec4_block_item_text_div {
    top: 410px;
  }
}

@media(max-width:1482px){
  .footer_blockItem2 {
    width: 18%;
   }
} 

@media(max-width:1470px){
	.data_block {
		padding: 30px;
	}

	.dropdown_title p {
		font-size: 14px;
	}

	.data_block_btn {
		padding: 0 24px;
	}

	.data_block {
       width: 57%;
    }

    .select_block_gic {
        width: 43%;
    }
}

@media(max-width:1456px){
  .sec3_block_rightSie_title{
     font-size: 30px !important;
         padding-bottom: 0px;
  }
}

@media(max-width:1437px){
  .text_block {
    width: 35%;
  }

  .sec4_block_item_text_div {
    top: 392px;
  }
}

@media(max-width:1430px){
  .sec3_block_leftSide_img {
    height: 616px !important;
    width: 73% !important;
  }
}

@media(max-width:1420px){
	.header_textBtn_block {
		padding-left: 195px;
	}

	.header_textBtn_block div h1 {
       font-size: 70px;
    }

    .sec6_leftSide {
      width: 54%;
    }

    .sec4_p12 {
       font-size: 14px;
    }
}

@media(max-width:1375px){
  .sec4_block_item_text_div { 
      width: 90%;
      top: 377px;
   }
}

@media(max-width:1337px){
   .sec1_block {
     padding-left: 75px;
     padding-right: 75px;
   }

   .footer_block {
    padding-left: 40px;
    padding-right: 40px;
   }

   .sec4_block_item_text_div {
    top: 360px;
   }
}

@media(max-width:1310px){
  .sec4_div1 h6 {
    font-size: 17px;
  }

  .sec4_div1_div {
    margin-top: 0px;
  }

  .sec4_div2 button {
    padding: 10px 20px;
  }

  .sec4_block_item_text_div {
    padding: 10px 15px;
  }
}

@media(max-width:1300px){
  .sec3_block_leftSide_fon3 {
    left: 23px;
    top: 519px;
  }
}

@media(max-width:1290px){
  .menu_item ul{
		gap: 40px;
   }

   .footer_blockItem3 input {
     padding: 12px;
   }

   .footer_blockItem3 button {
    padding: 10px 10px;
    font-size: 14px;
   }

   .footer_blockItem3 {
    width: 20%;
   }
}

@media(max-width:1287px){
	  .se1_block_item h6 {
        font-size: 17px;
        padding-bottom: 5px;
    }

    .section3 {
        margin-top: 750px;
    }
}

@media(max-width:1277px){
  .sec_title {
    font-size: 35px;
    line-height: 45px;
  }

  .text_block p {
     line-height: 18px;
     font-size: 16px;
     padding-bottom: 40px;
  }

  .text_block button {
    padding: 12px 30px;
  }

  .sec2_back {
    width: 38%;
    height: 460px;
  }

  .section3 {
    margin-top: 700px;
  }

  .sec4_block_item_text_div {
    top: 335px;
  }

  .sec4_div1_div {
    margin-top: 5px;
    flex-direction: column;
    align-items: flex-start;
  }

  .btn_sec4555 {
    padding: 15px 25px;
    font-size: 16px;
  }
}

@media(max-width:1240px){
  .sec4_block_item_text_div {
    top: 310px;
  }
}

@media(max-width:1220px){
	 .menu {
	   padding-left: 80px !important;
	   padding-right: 80px !important;
    }

    .sec4_item3, .sec4_item1{
      gap: 18px;
    }

    .sec4_block_item_text_div {
      top: 345px; 
    }

    .sec4_img12 {
      width: 100%;
      height: 400px;
    }

    .sec2_block {
      padding-right: 155px !important;
   }

    .sec_padding {
       padding-left: 65px;
       padding-right: 66px;
     }

     .data_block {
     	right: 80px;
     	width: 60%;
     }

     .header_textBtn_block {
        padding-left: 145px;
     }

     .header_textBtn_block div h1 {
        font-size: 65px;
     }

     .select_block_gic {
       width: 35%;
     }

     .select_block_btn {
     	gap: 10px;
     }

     .sec3_block {
       padding-right: 40px;
     }

     .sec3_block_leftSide_fon3 {
       left: 30px;
       top: 519px;
     }

     .sec3_block_rightSie_title {
      font-size: 30px !important;
     }

     .sec3_block_rightSie_item {
      gap: 30px;
     }

     .sec3_block_rightSie {
         padding-left: 50px;
     }

     .sec3_block_leftSide_fon2 {
         width: 60%;
     }
}

@media(max-width:1150px){
	.menu_item ul{
		gap: 20px;
	}

  .footer_block {
    padding-left: 25px;
    padding-right: 25px;
  }

	.navbar-dark .navbar-nav .nav-link, .navbar_right_block div a {
	   font-size: 16px !important;
	}

  .section3 {
    margin-top: 655px;
  }

	.data_block {
		width: 61%;
		align-items: center;
	}

	.data_block_btn {
		font-size: 15px;
    padding: 10px 15px;
	}

	.sec1_block {
     padding-left: 30px;
     padding-right: 30px; 
  }

  .sec2_block {
    padding-right: 125px !important;
  }

  .sec3_block_leftSide_img {
    height: 470px !important;
    width: 73% !important;
  }

  .sec3_block_leftSide_fon1 {
    position: absolute;
    right: -25px;
    top: -30px;
    width: 20%;
    z-index: 2;
  }

  .sec3_block_leftSide_fon2 {
    width: 60%;
    height: 470px;
  }

  .sec3_block_leftSide_fon3 {
    left: 53px;
    top: 400px;
    width: 25%;
  }

  .sec3_block_leftSide_fon5 {
    left: -13px;
    width: 7%;
    top: 220px;
  }

  .sec3_block_leftSide_fon4 {
    width: 65%;
    height: 450px;
  }

  .sec3_block_rightSie_item {
     padding-bottom: 0;
  }

  .sec3_block_rightSie_item div p {
    font-size: 11px;
    line-height: 16px;
  }

  .sec3_block_rightSie_item div p {
    padding-bottom: 20px;
  }

  .sec3_block_rightSie_title {
    font-size: 25px !important;
    line-height: 34px;
    padding-bottom: 5px;
  }

  .sec3_block_rightSie_item div h6 {
    font-size: 15px;
    line-height: 18px;
  }

  .sec3_block {
    padding-right: 25px;
  }
}

@media(max-width:1100px){
  .header_textBtn_block div h1 {
    font-size: 55px;
    line-height: 64px;
  }

  .section3 {
    margin-top: 600px;
   }

  .data_block{
  	flex-direction: column;
  	gap:10px;
  }

  .input_block {
    width: 100%;
   }

  .data_block {
    padding: 15px;
  }

  .sec_title {
    font-size: 28px;
    line-height: 35px;
  }

  .sec2_back {
    width: 38%;
    height: 400px;
  }

 .text_block p {
   line-height: 18px;
   font-size: 12px;
   padding-bottom: 30px;
   padding-top: 20px;
 }

 .text_block button {
  padding: 10px 15px;
  font-size: 15px;
 }

 .footer_blockItem2 div a {
    font-size: 12px;
 }

 .footer_blockItem1_p1 {
    font-size: 12px;
    line-height: 15px;
 }

 .footer_blockItem1 a{
   font-size: 12px;
 }

 .footer_blockItem3 {
    width: 24%;
  }

  .footer_blockItem2 h4, .footer_blockItem3 h4 {
    font-size: 20px;
  }
} 

@media(max-width:1050px){
	.header_back{
		height: 650px;
	}

  .sec3_block_leftSide_fon3 {
    left: 38px;
  }
}

@media(max-width:1041px){
	.se1_block_item {
       padding-left: 10px;
       padding-right: 10px;
    }

    .se1_block_item p {
      font-size: 13px;
      line-height: 20px;
    }

    .sec3_block_leftSide_fon3 {
       left: 38px;
       top: 415px;
    }
}

@media(max-width:1028px){
  .sec4_div1 h6 {
    font-size: 16px;
  }

  .sec4_div1_div {
    margin-top: 0px;
  }
}

@media(max-width:1024px){
	.sec1_block, .sec2_block{
		flex-wrap: wrap;
	}

  .footer_block {
    padding-left: 120px;
    padding-right: 120px;
  }

  .sec6_leftSide {
    padding-left: 35px;
  }

  .text_block, .img_block{
    width: 48%;
  }

  .img_block {
    display: flex;
    justify-content: center;
  }

  .sec2_block {
    padding-right: 110px !important;
  }

  .img_block1{
    justify-content: flex-start  !important;
  }

  .img_block img {
    width: 75%;
    height: 320px;
  }

  .sec_title {
    font-size: 33px;
    line-height: 45px;
  }

  .sec2_back {
    width: 38%;
    height: 840px;
  }

	.se1_block_item {
		width: 48%;
	}

	.m_top{
		margin-top: 20px;
	}

	.se1_block_item h6 {
      font-size: 20px;
      padding-bottom: 12px;
     }

     .se1_block_item p {
      font-size: 16px;
      line-height: 25px;
     }

     .se1_block_item {
       padding-left: 30px;
       padding-right: 30px;
     }

     .section1 {
       padding-top: 130px;
       padding-bottom: 114px;
     }

     .section3 {
        margin-top: 1020px;
      }

      .footer_block { 
        flex-wrap: wrap;
      }

      .footer_blockItem1, .footer_blockItem2, .footer_blockItem3{
          width: 45%;
      }

      .m-top1{
          margin-top: 25px;
      }

      .ds_flex{
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      .footer_blockItem2 div a {
        font-size: 15px;
      }

      .footer_blockItem1_p1 {
         font-size: 15px;
         line-height: 23px;
      }

      .footer_blockItem1 a {
        font-size: 13px;
       }
}

@media(max-width:992px){
	.hide_logo {
	  display: block !important; 
    }

    .logo150 {
    	display: none !important;
    }

    .menu_item {
    	flex-direction: column;
    }

    .menu_item ul {
    	gap: 10px;
    }

    .navbar_right_block {
    	margin-top: 20px;
    }

    .navbar-dark .navbar-nav .nav-link, .navbar_right_block div a {
       font-size: 18px !important;
    }

    .select_block_gic {
      width: 25%;
    }

    .data_block{
    	width: 55%;
    }

    .header_textBtn_block {
       width: 100%;
     }

     .sec3_block_leftSide_img {
      width: 82% !important;
     }

     .sec3_block_leftSide_fon3 {
       left: -1px;
     }
}

@media(max-width:981px){
  .sec4_div1 h6 {
    line-height: 20px;
  }

  .sec4_div1_div {
    margin-top: 5px;
   }

   .sec4_div1 {
    width: 85%;
   }

   .sec4_div2 {
    width: 12%;
   }

   .sec4_div2 button {
    padding: 7px 14px;
   }
}

@media(max-width:945px){
  .sec6_block {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media(max-width:890px){
	.header_textBtn_block {
       padding-left: 118px;
    }

    .sec_padding {
      padding-left: 60px;
      padding-right: 60px;
    }

    .data_block {
       right: 60px;
    }

    .data_block{
    	width: 57%;
    }

    .menu {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }

    .section3 {
       margin-top: 980px;
    }

    .footer_block {
      padding-left: 90px;
       padding-right: 90px;
    }
}

@media(max-width:870px){
  .sec4_hidea12 {
    display: block;
  }

  .sec4_hidea12 div{
    display: flex;
    gap: 5px;
  }

  .jek {
    display: none;
  }
}

@media(max-width:855px){
  .sec3_block_rightSie_title {
     font-size: 21px !important;
     line-height: 31px !important;   
  }

  .sec3_block_rightSie_item div h6 {
    font-size: 13px;
    line-height: 15px;
  }

  .sec6_title{
        font-size: 25px !important;
        line-height: 30px !important;
  }
}

@media(max-width:840px){
	.header_textBtn_block div h1 {
      font-size: 45px;
      line-height: 51px;
    }

    .footer_block {
    padding-left: 66px;
    padding-right: 65px;
  }
 


    .sec3_text {
      display: block;
      font-size: 10px;
      font-style: normal;
font-weight: 400;

line-height: 16px;
padding-bottom: 5px;
border-bottom: 1px solid #F1E0DD;
color: #A79997;
    }

    .item2 {
       border-bottom: 1px solid #F1E0DD !important;
       padding-bottom: 5px;
    }

    .sec3_block_rightSie_item div{
      border: none;
    }

    .header_textBtn_block {
       padding-left: 100px;
     }

     .header_textBtn_block div button {
         font-size: 15px;
         padding: 10px 20px;
     }

     .header_back {
       height: 550px;
     }

     .header_textBtn_block {
        height: 70%;
     }

     .select_block {
        width: 28%;
     }

     .sec3_block_rightSie_item div p{
        display: none;
     }
}

@media(max-width:800px){
	.select_block_gic {
       width: 19%;
    }

    .select_block {
       width: 29%; 
    }
}

@media(max-width:780px){
	.sec_padding {
      padding-left: 35px;
      padding-right: 35px;
   }

   .sec4_img15 {
      height: 125px;
   }

   .sec4_item3, .sec4_item1 {
    gap: 13px;
   }

   .sec4_div2 {
    width: 15%; 
  }

   .data_block {
    right: 35px;
   }

   .data_block {
    width: 60%;
   }

   .menu {
    padding-left: 35px !important;
    padding-right: 35px !important;
   }

   .header_textBtn_block {
    padding-left: 65px;
   }

   .img_block img {
    width: 85%;
   }

   .sec2_block {
    padding-right: 38px !important;
   }

   .sec3_block_leftSide_img {
    width: 88% !important;
    height: 457px !important;
   }
}

@media(max-width:748px){
  .sec3_block_rightSie_item {
      gap: 18px; 
  }

  .sec3_block_rightSie_item div h6 {
    font-size: 11px;
    line-height: 15px;
  }

  .sec3_block {
    padding-right: 10px;
  }

  .sec3_block_rightSie {
    padding-left: 35px;
  }

  .footer_block {
    padding-left: 48px;
    padding-right: 48px;
  }

}

@media(max-width:720px){
	.dropdown_title p {
      font-size: 12px;
    }

    .input_block_item_p1 {
    	font-size: 11px;
    	line-height: 0;
    }

    .data_block {
    	gap: 20px;
    }

    .header_back {
       height: 500px;
     }

     .header_textBtn_block {
        height: 66%;
     }

     .sec4_p {
        font-size: 12px;
     }

     .sec4_p12 {
        font-size: 12px;
     }
}

@media(max-width:680px){
	  .select_block_gic{
		  display: none;
	  }

    .sec4_div2 {
       width: 9%;
    }

    .sec4_img12 {

      height: 335px;
     }

    .sec4_div2 button {
       padding: 4px 9px;
       font-size: 16px;
     }

     .sec4_div1 h6 {
      line-height: 17px;
      font-size: 14px;
    }

    .sec4_block_item_text_div {
    top: 275px;
   }

   .btn_sec4555 {
    padding: 10px 15px;
    font-size: 12px;
    }

    .sec4_item2 {
      gap: 110px;
    }

	  .select_block {
       width: 24%;
    }

    .data_block {
       width: 61%;
    }

    .sec3_block_rightSie_title {
       font-size: 17px !important;
       line-height: 23px !important;
    }

    .footer_blockItem1_p1 {
       font-size: 14px;
       line-height: 20px;
    }

    .sec6_title {
       font-size: 22px !important;
      line-height: 27px !important;
      padding-bottom: 30px;
    }

    .footer {
      margin-top: 135px;
    }

    .footer {
      margin-top: 120px;
    }

    .sec6_block {
    padding-top: 20px;
    padding-bottom: 20px;
   }

   .sec6_iqon_apps img {
    width: 34%;
    height: 36px;
   }

   .footer_block {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media(max-width:640px){
	.dropdown_title {
		 flex-direction: column;
		 gap: 10px
	}

	.input_block_item_p1{
		text-align: center;
	}

	.select_block {
       width: 26%;
  }

  .sec_title {
    font-size: 30px;
  }

  .img_block img {
    width: 100%;
   }

   .sec3_block_leftSide_fon2 {
    top: 5px !important;
    right: -45px !important;
    width: 90%;
   }

   .sec3_block_leftSide_fon1 {
      right: -14px;
      top: -14px;
   }

   .sec3_block_rightSie {
    padding-left: 25px;
   }
}

@media(max-width:636px){
	.se1_block_item h6 {
      font-size: 16px;
      padding-bottom: 5px;
  }

  .se1_block_item p {
      font-size: 14px;
      line-height: 21px;
  }
}

@media(max-width:610px){
	.sec_padding {
    padding-left: 25px;
    padding-right: 25px;
   }

   .sec2_block {
    padding-right: 27px !important;
  }

   .data_block {
    right: 25px;
   }

   .select_block {
    width: 27%;
   } 

   .menu {
    padding-left: 25px !important;
    padding-right: 25px !important;
   }

   .sec1_block {
      padding-left: 25px;
      padding-right: 25px;
    }

    .sec4_block {
    
    margin-top: 80px;
     }
}

@media(max-width:595px){
   .sec3_block {
     padding-right: 0px;
   }

   .sec3_block_leftSide_img {
      height: 450px !important;
   }

   .footer_block {
    padding-left: 20px;
    padding-right: 20px;
   }
}

@media(max-width:580px){
	.select_block {
    width: 27.5%;
   }
}

@media(max-width:576px){
	.select_block {
	    width: 100%;
	    justify-content: center;
	    gap: 25px;
	    padding-top: 150px;
    }

    .sec5_title  br{
       display: none;
    }

    .sec4_block{
      flex-direction: column;
      gap: 40px;
    }

    .sec4_div1 h6 {
    line-height: 25px;
    font-size: 18px;   
    } 

    .sec4_div2 button {
    padding: 10px 16px;
    font-size: 20px;
  }

  .sec4_div2 {
    width: 12%;
   }

   .sec4_p {
    font-size: 14px;
   }

   .sec4_p12 {
    font-size: 15px;
  }

    .sec4_block_item {
      width: 100%;
      align-items: center;
    }

    .sec4_img15 {
      display: none;
    }

    .sec4_block_item_text {
      width: 65%;
      display: flex;
      justify-content: center;
    }

    .sec4_item2 {
    gap: 50px;
   }

   .sec4_block_item_text_div {
    top: 340px;
   }

    .sec4_img12 {
    height: 400px;
     }

    .sec6_leftSide {
      padding-left: 0 ;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
    }

    .sec6_title {
    font-size: 35px !important;
    line-height: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
        padding-bottom: 45px;
   }

   .sec6_rightSide {
    width: 60%;
   }
 
   .sec6_iqon_apps img {
    width: 20%;
    height: 40px;
  }

   .sec6_title br {
    display: none;
   }

    .sec6_iqon_apps {
    display: flex;
    justify-content: center;
    width: 100%;
   }

    .sec6_block {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .sec3_block_rightSie_title {
    font-size: 35px !important;
    line-height: 48px !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .sec3_block_rightSie_title br {
    display: none;
  }

    .footer_blockItem3, .footer_blockItem2, .footer_blockItem1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0 !important;
       width: 100%;
    }

    .footer_blockItem3 input {
       width: 76%;
    }

    .footer_blockItem1_p1 {
       font-size: 20px;
       line-height: 30px;
       text-align: center;
    }

    .footer_blockItem1 a {
        font-size: 15px;
     }

    .footer_block {
      flex-direction: column;
      align-items: center;
      gap: 35px;
    }

    .footer_blockItem2 div a {
      font-size: 19px;
    }

    .footer_blockItem2 h4, .footer_blockItem3 h4 {
      font-size: 26px;
      padding-bottom: 20px;

    }

    .sec3_block_rightSie {
      padding-left: 0px;
    }

    .sec3_block {
       padding-right: 0px;
       flex-direction: column-reverse;
       align-items: center;
       gap: 35px;
    }

    .sec3_block_leftSide {
       width: 65%;
    }

    .sec3_block_leftSide_fon1 {
       right: -25px;
       top: -25px;
     }

     .sec3_block_leftSide_fon5 {
       left: -30px;
     }

    .sec3_block_rightSie {
      width: 100%;
    }

    .sec3_block_rightSie_item div h6{
       padding-bottom: 0;
    }

    .sec3_block_rightSie_item {
      align-items: center;
    }

    .sec3_block_rightSie_title {
       text-align: center !important;
    }

    .sec2_block {
      padding-right: 10px !important;
    }

    .sec2_block{
      flex-direction: column;
      gap: 35px;
    }

    .sec_title {
      font-size: 35px;
    }

    .sec2_title, .text_block p{
      text-align: center;
    }

    .text_block p {
      line-height: 19px;
      font-size: 13px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .sec2_back{
      padding-right: 0;
    }

    .sec2_back {
      width: 50%;
      height: 1100px;
      top: 335px;
    }

    .img_block, .text_block {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .img_block img {
      width: 50%
    }

    .section1 {
       padding-top: 115px;
       padding-bottom: 25px;
     }

     .sec1_block{
     	flex-direction: column;
     	gap: 25px;
     }

     .se1_block_item h6 {
      font-size: 22px;
       padding-bottom: 17px;
     }

     .se1_block_item p {
       font-size: 20px;
       line-height: 29px;
     }

     .se1_block_item {
     	width: 100%;
     }

     .m_top{
     	margin-top: 0;
     }

    .menu {
       padding-left: 10px !important;
       padding-right: 10px !important;
    }

    .data_block {
       width: 92%;
       bottom: 64px;
    }

    .dropdown_title p {
       font-size: 15px;
    }

    .input_block_item_p1 {
       font-size: 13px;
       line-height: 4px;
    }

    .sec_padding {
      padding-left: 10px;
      padding-right: 10px;
    }

    .data_block {
       right: 10px;
    }

    .data_block {
       width: 97%;
     }

     .header_textBtn_block div h1 {
       font-size: 45px;
       line-height: 58px;
       text-align: center;
    }

    .header_textBtn_block {
      height: 55%;
    }

    .header_textBtn_block div{
    	 display: flex;
    	 flex-direction: column;
    	 align-items: center;
    	 width: 100%;
    }

    .header_textBtn_block {
      padding-left: 0;
    }

    .section3 {
      margin-top: 1550px;
    }

    .sec3_block_rightSie_item div h6 {
      font-size: 12px;
      line-height: 15px;
     }

     .sec3_text {
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 10px;
  }
}

@media(max-width:520px){
  .sec3_block_leftSide_img {
    height: 458px !important;
  }
}

@media(max-width:500px){
	.header_textBtn_block div h1 {
       font-size: 36px;
       line-height: 44px;
       padding-bottom: 30px;
    }

    .header_back {
       height: 430px;
    }

    .header_textBtn_block {
       height: 51%;
    }
}

@media(max-width:485px){
  .text_block p {
    padding-left: 18px;
    padding-right: 18px;
  }

  .sec4_block_item_text {
    width: 69%;
  }
}

@media(max-width:452px){
  .text_block p {
    padding-left: 5px;
    padding-right: 5px;
 }

 .sec4_block_item_text {
    width: 72%;
  }

 .img_block img {
  width: 60%
  }

  .footer_blockItem1_p1 {
    font-size: 16px;
    line-height: 22px;
  }

  .footer_blockItem2 h4, .footer_blockItem3 h4 {
    font-size: 23px;
    padding-bottom: 10px;
  }

  .footer_blockItem2 div a {
    font-size: 15px;
  }

  .footer_blockItem3 input {
    width: 90%;
  }
}

@media(max-width:430px){
  .sec3_block_leftSide_img {
    width: 100% !important;
  }

  .sec3_block_leftSide_fon3 {
     width: 35%;
     top: 408px;
     left: -44px;
  }

  .sec3_block_leftSide_fon5 {
    left: -47px;
  } 

  .sec3_block_leftSide_fon1 {
    right: -25px;
    top: -25px;
    width: 30%;
  }
}

@media(max-width:425px){

   .sec4_block_item_text {
    width: 80%;
   }
}

@media(max-width:410px){
  .dropdown_title p {
      font-size: 10px;
   }

   .header_back {
    height: 380px;
   }

   .sec1_block {
    padding-left: 15px;
    padding-right: 15px;
   }
}

@media(max-width:407px){
  .sec2_back {
    width: 50%;
    height: 1065px;
    top: 350px;
  }
}

@media(max-width:395px){
  .sec3_block_leftSide_fon3 {
     left: -33px;
  }

  .sec3_block_rightSie_title {

    padding-right: 5px;
    padding-left: 5px;
  }
}

@media(max-width:390px){
  .sec2_back {
    top: 350px;
  }

  .img_block img {
    width: 70%
  }
}

@media(max-width:380px){
	.header_textBtn_block div h1 {
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 25px;
    }

    .section4 {
    padding-top: 148px;
  }

    .section6 {
      margin-top: 165px;
    }

    .sec4_block_item_text {
    width: 90%;
   }

    .sec6_title {
    font-size: 27px !important;
    line-height: 34px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
   }

   .sec6_iqon_apps img {
    width: 24%;
    height: 35px;
   }

   .sec6_rightSide {
    width: 65%;
   }

    .header_textBtn_block div button {
      font-size: 14px;
      padding: 6px 15px;
    }

    .sec_title {
      font-size: 27px;
      line-height: 38px;
    }

    .text_block p {
      line-height: 16px;
      font-size: 11px;
    }

    .sec2_back {
      top: 305px;
     }

     .text_block button {
      padding: 7px 11px;
      font-size: 13px;
     }

     .sec3_block_leftSide_img {
         height: 320px !important;
     }

     .sec3_block_leftSide_fon2 {
        height: 340px;
        top: 20px !important;
     }

     .sec3_block_leftSide_fon4 {
        width: 100%;
        height: 340px;
     }

     .sec3_block_leftSide_fon5 {
       left: -45px;
       width: 8%;
       top: 160px;
     }

     .sec3_block_leftSide_fon3 {
       width: 35%;
       top: 270px;
      }

      .footer_block {
         padding-left: 20px;
         padding-right: 20px;
      }

      .sec3_block_rightSie_title {
       font-size: 27px !important;
       line-height: 40px !important;
     }

     .section3 {
       margin-top: 1485px;
     }
}

@media(max-width:352px){
  .sec2_back {
    top: 305px;
  }

   .sec4_block_item_text {
    width: 100%;
   }
}

@media(max-width:351px){
  .sec2_back {
    top: 320px;
  }

  .img_block img {
    width: 80%;
  }
}

@media(max-width:335px){
  .sec2_back {
    top: 320px;
  }

  .text_block p {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media(max-width:334px){
  .sec2_back {
    top: 320px;
  }

  .sec3_block_leftSide_fon3 {
    top: 280px;
  }

  .sec6_rightSide {
    width: 80%;
  }
}

@media(max-width:325px){
  .text_block p {
    line-height: 16px;
    font-size: 10px;
  }

  .sec2_back {
    top: 305px;
  }

  .sec3_block_leftSide_fon2 {
    height: 315px; 
  }

  .sec3_block_leftSide_fon1 {
    right: -15px;
    top: -15px ;
  }

  .sec3_block_leftSide_fon2 {
    right: -45px !important;
  }

  .sec3_block_leftSide_fon5 {
     width: 10%;
  }

  .sec4_div1 h6 {
    line-height: 25px;
    font-size: 16px;
 }
}

@media(max-width:320px){
  .header_textBtn_block div h1 {
    font-size: 26px;
  }

  .img_block img {
    width: 100%;
  }

  .sec2_back {
    width: 70%;
  }

  .header_back {
    height: 360px;
  }

  .se1_block_item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec6_rightSide {
    width: 90%;
   }

  .se1_block_item h6 {
    font-size: 18px;
    padding-bottom: 7px;
 }

  .se1_block_item p {
    font-size: 16px;
    line-height: 24px;
  }

  .se1_block_item {
  	 padding-bottom: 40px;
  }

  .footer_blockItem3 input {
    width: 100%;
   }

   .footer_blockItem1 a {
    font-size: 13px;
   }

   .footer_blockItem2 h4, .footer_blockItem3 h4 {
    font-size: 22px;
    padding-bottom: 20px;
   }

   .footer_blockItem2 div a {
    font-size: 14px;
   }

   .footer_block {
    padding-left: 30px;
    padding-right: 30px;
   }
}

@media(max-width:313px){
  .sec2_back {
    top: 320px;
  }
}

@media(max-width:297px){
  .sec2_back {
    top: 320px;
  }

  .sec3_block_leftSide_fon3 {
    left: -23px;
   }

   .footer_blockItem1_p1 {
    font-size: 15px;
    line-height: 20px;
  }
}