*{
	padding: 0;
	margin: 0;
}

img{
	width: 100%;
	height: 100%;
}

.container{
	display: flex;
}

.lef_side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_block{
	width: 61px;
	height: 66px;
	padding: 22px 50px 22px 140px;
}

.text_block{
	display: flex;
	align-items: center;
	gap: 20px;
}

.text1{
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #124756;
}

.left_side_text2{
	font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* Grey */

color: #72777B;
}

.left_side_text2{
	display: flex;
	flex-direction: column;
	padding-right: 196px;
}



.right_side{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 49.9%;
   gap: 36px;
}

